<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {{ user.first_name }} - kofefast
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/PA_styles.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <style>
            @media screen and (max-width: 980px) {
                .addressMenu.active {
                    {% if user.is_cafe_owner %}
                        top: 2170px;
                    {% endif %}
                }
            }
            {% if not user.is_cafe_owner %}
                .topMenuResizable:hover {
                    height: 230px;
                }
            {% endif %}

        </style>
    </head>
    <body>
        <div class="topMenu flex">
            <div class="logo" style="font-size: 4.5em;">
                <a href="{% url 'index' %}" style="color: #eeeeee;">kofefast</a>
            </div>
            {% if request.user.is_authenticated %}
<!--                <div class="topMenuNotMobile flex btw" style="align-items: center;{% if not user.is_cafe_owner %} width: 300px; {% else %} width: 530px; {% endif %}border-radius: 50px; padding: 0; height: 60px;">-->
<!--                    {% if user.is_cafe_owner %}-->
<!--                        <div class="flex" style="padding: 0 20px 0 20px;  align-items: center; color: #eeeeee; height: auto; width: 160px;">-->
<!--                            <div class="ownerInterface flex pointer">-->
<!--                                <div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                            <div style="font-size: 1.1em;">-->
<!--                                Инструменты владельца кофейни-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                    <a href="{% url 'logout' %}" class="flex" style=" align-items: center; color: #eeeeee; height: auto;">-->
<!--                        <div style="padding: 0 20px 0 20px; font-size: 2em; {% if user.is_cafe_owner %}border-left: 7px solid #deb887;{% endif %} border-right: 7px solid #deb887;">-->
<!--                            Выйти-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="https://t.me/kofefast_bot" target="_blank">-->
<!--                        <div class="tgIcon">-->

<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="{% url 'personal_area' %}">-->
<!--                        <div style="{% if user.profile_picture %} background-image: url({{ user.profile_picture.url }}); filter: none !important; border: 5px solid #eeeeee; border-radius: 40px; height: 60px !important; width: 60px !important; {% else %} background-image: url('../../static/img/anonymous.svg'); {% endif %} background-position: 50% 50%; background-size: cover;" class="defaultUserPhoto pointer">-->

<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
                    <div class="topMenuResizable">
                        <div class="profilePhotoTopMenu flex clmn" style="{% if user.profile_picture %} background-image: url({{ user.profile_picture.url }}); filter: none !important; {% else %} filter: invert(); transform: filter; background-position: 50% 80%; background-size: 80%; background-repeat: no-repeat; background-image: url('../../static/img/anonymous.svg'); {% endif %}">

                        </div>
                        <div style="font-weight: bold;">
                            {{ user.first_name }}
                        </div>
                        <div style="border-left: 5px solid #deb887; padding: 0 0 0 10px;">
                            <div>
                                <a href="{% url 'index' %}">
                                    На главную
                                </a>
                            </div>
                            <div class="tg">
                                <a href="https://t.me/kofefast_bot" target="_blank">
                                    Написать в телегу
                                </a>
                            </div>
                            <div class="chng_psswrd">
                                <a href="{% url 'change_password' %}">
                                    Сменить пароль
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'logout' %}">
                                    Выйти
                                </a>
                            </div>
                        </div>
                        <div>
                            {% if user.is_cafe_owner %}
                                <div class="flex" style="margin: 20px 0 0 0; align-items: center; color: #eeeeee; height: auto; width: 100%;">
                                    <div class="ownerInterface flex pointer">
                                        <div>

                                        </div>
                                    </div>
                                    <div style="width: 50%; font-size: 1.1em;">
                                        Инструменты владельца кофейни
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
            {% else %}
            <div>

            </div>
            {% endif %}
        </div>
        <hr class="lineMobile">
        <div class="mainPA flex">
            <div class="person flex">
                <div class="photoNotMobile">
                    <div class="photo pointer" style="{% if user.profile_picture %} background-image: url({{ user.profile_picture.url }}); {% else %} background-image: url('../../static/img/anonymous.svg'); filter: invert(); background-size: 15% !important; background-repeat: repeat !important;{% endif %} background-position: 50% 50%; background-size: cover;">
                        <div class="changePhoto">

                        </div>
                    </div>
                </div>
                <div class="photoMobile" style="{% if user.profile_picture %} background-image: url({{ user.profile_picture.url }}); {% else %} background-image: url('../../static/img/anonymous.svg'); filter: invert(); background-size: 15% !important; background-repeat: repeat !important;{% endif %} background-position: 50% 50%; background-size: cover;">

                </div>
                <div class="personInfo">
                    <div>
                        <span style="color: #deb887;"><b>{{ user.first_name }} {{ user.last_name }}</b></span>
                    </div>
                    <div>
                        {{ user.email }}
                    </div>
                    <div>
                        <b>{{ user.phone_number }}</b>
                    </div>
                    <div class="func flex btw vCenter">
                        <div class="chng">
                            Изменить
                        </div>
                        <div>
                            <a style="color: #eeeeee;" href="{% url 'logout' %}">Выйти</a>
                        </div>
                    </div>
                    {% if user.is_cafe_owner %}
                    <div class="tools flex">
                        <div class=ownerInterface>
                            <div>

                            </div>
                        </div>
                        <div>
                            Инструменты владельца кофейни
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="info" style="{% if user.is_cafe_owner %}top: 2100px;{% endif %}">
                <div class="adr pointer">
                    <div class="flex btw">
                        <div class="underln">
                            <b>Мои адреса</b>
                        </div>
                        <div class="opn active">
                            <b>ᐃ</b>
                        </div>
                    </div>
                </div>
                <div class="addresses flex">
                    {% if addresses %}
                        {% for adr in addresses %}
                            <div style="font-size: 1em;" class="address flex btw vCenter">
                                <div class="cafe_name flex clmn">
                                    <div style="margin: 0 0 10px 0; font-weight: bold;">
                                        {{ adr.name }}
                                    </div>
                                    <div class="basketList" style="overflow: hidden; text-overflow: ellipsis; margin-right: 30px; white-space: nowrap;">
                                        <div>
                                            {{ adr.city }}
                                        </div>
                                        <div style="overflow: hidden; text-overflow: ellipsis; margin-right: 30px; white-space: nowrap;">
                                            {{ adr.street }}, д. {{ adr.house }}
                                        </div>
                                    </div>
                                </div>

                                {% if adr.chosen %}
                                <div class="flex" style="flex-direction: column; margin: 0 12px 0 0 !important; margin-right: 0;">
                                    <form action="" method="POST" class="inside flex">
                                        <input name="action_type" type="text" value="delete_prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Отменить выбор" class="chooseAnAddress pointer">
                                    </form>
                                    <form action="" method="POST" class="inside">
                                        <input name="action_type" type="text" value="delete_an_address" style="display: none;">
                                        <input name="delete_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" class="deleteAnAddress" value="Удалить">
                                    </form>
                                </div>
                                {% else %}
                                <div class="flex" style="flex-direction: column; margin-left: 0;">
                                    <form action="" method="POST" class="inside flex">
                                        <input name="action_type" type="text" value="prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Доставлять сюда" class="chooseAnAddress pointer">
                                    </form>
                                    <form action="" method="POST" class="inside">
                                        <input name="action_type" type="text" value="delete_an_address" style="display: none;">
                                        <input name="delete_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" class="deleteAnAddress" value="Удалить">
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            <div class="afterAddressMenu">
                                {% if adr.chosen %}
                                <div class="flex" style="margin-left: 0;">
                                    <form action="" method="POST" class="inside flex">
                                        <input name="action_type" type="text" value="delete_prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Отменить выбор" class="chooseAnAddress pointer">
                                    </form>
                                    <form action="" method="POST" class="inside">
                                        <input name="action_type" type="text" value="delete_an_address" style="display: none;">
                                        <input name="delete_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" class="deleteAnAddress" value="Удалить">
                                    </form>
                                </div>
                                {% else %}
                                <div class="flex" style="margin-left: 0;">
                                    <form action="" method="POST" class="inside flex">
                                        <input name="action_type" type="text" value="prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Доставлять сюда" class="chooseAnAddress pointer">
                                    </form>
                                    <form action="" method="POST" class="inside">
                                        <input name="action_type" type="text" value="delete_an_address" style="display: none;">
                                        <input name="delete_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" class="deleteAnAddress" value="Удалить">
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    <div class="addAnAddress">
                        <b>+</b>
                    </div>
                    {% else %}
                        <div class="address flex btw vCenter addressOpen">
                            <div  class="addressName" style="max-width: 70%;">
                                Добавьте адрес
                            </div>
                            <div class="makeAnOrder">
                                <b>+</b>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="ord pointer">
                    <div class="flex btw">
                        <div class="underln">
                            <b>Мои заказы</b>
                        </div>
                        <div class="cls active">
                            <b>ᐃ</b>
                        </div>
                    </div>
                </div>
                <div class="orders flex">
                    {% if not orders %}
                        <div class="order flex vCenter">
                            <a href="{% url 'index' %}" class="flex btw vCenter">
                                <div class="orderName" style="max-width: 70%;">
                                    Сделайте ваш первый заказ
                                </div>
                                <div class="makeAnOrder">
                                    <b>+</b>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        {% for order in orders %}
                            <div class="order flex vCenter">
                                <div class="cafe_name flex clmn">
                                    <div style="margin: 0 0 10px 0; font-weight: bold;">
                                        Заказ в {{ order.chosen_cafe }}
                                    </div>
                                    <div class="basketList" style="overflow: hidden; text-overflow: ellipsis;">
                                        <div>
                                            {% if order.is_over %}
                                                Завершен
                                            {% else %}
                                                Пока не готов
                                            {% endif %}
                                        </div>
                                        <div style="overflow: hidden; text-overflow: ellipsis; margin-right: 30px; white-space: nowrap;">
                                            {{ order.type_of_delivery }}
                                        </div>
                                    </div>
                                </div>

    <!--                            <div class="flex clmn">-->
    <!--                                <div style="font-weight: bold; margin-bottom: 10px;">-->
    <!--                                    {{ the_last_order.chosen_cafe }}-->
    <!--                                </div>-->
    <!--                                <div class="basketList">-->
    <!--                                    {% for item in order_items %}-->
    <!--                                        <div>-->
    <!--                                            {{ item.good }}, {{ item.count }} шт.-->
    <!--                                        </div>-->
    <!--                                    {% endfor %}-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div style="font-weight: bold; margin-bottom: 10px;">-->
    <!--                                    Готовность-->
    <!--                                </div>-->
    <!--                                <div class="basketList">-->
    <!--                                    <div>-->
    <!--                                        {% if the_last_order.is_over %}-->
    <!--                                            Завершен-->
    <!--                                        {% else %}-->
    <!--                                            В процессе-->
    <!--                                        {% endif %}-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


            {% if user.is_cafe_owner %}
                <div class="infoOwner hidden">
                    <div class="ord pointer" style="margin: 0 0 5px 80px;">
                        <div class="flex btw">
                            <div class="underln">
                                <b>Ассортимент</b>
                            </div>
                            <div class="cls active">
                                <b>ᐃ</b>
                            </div>
                        </div>
                    </div>
                    <div class="orders flex">

                        {% if not production %}
                            <div class="order flex btw vCenter" style="cursor: default !important;">
                                <div class="orderName addAnItem">
                                   Пока никаких товаров нет
                                </div>
                                <div>
                                    <div class="makeAnOrder addAnItem" style="font-size: 2em !important;">
                                        <b>+</b>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for item in production %}
                                <div class="order flex btw vCenter" style="cursor: default !important; background-image: url('{{ item.preview.url }}'); background-size: cover; background-position: right 50%">
                                    <div class="orderName flex clmn" style="padding: 10px; height: 100%; justify-content: space-around;">
                                        <div>
                                            <span style="background-color: #111111;">{{ item }}</span>
                                        </div>
                                        <div class="itemPrice" style="font-size: 1em;">
                                            <span><b>{{ item.price }}₽</b></span>
                                        </div>
                                    </div>
                                    <div class="itemOptions flex clmn vCenter">
                                        <div class="itemEdit {{ item.id }}" style="width: 170px !important; padding: 17px 0 0 0;">
                                            Изменить
                                        </div>
                                        <div>
                                            <form action="" method="POST" class="inside">
                                                <input name="action_type" type="text" value="deleteItem" style="display: none;">
                                                <input name="delete_item_id" type="text" value="{{ item.id }}" style="display: none;">
                                                {% csrf_token %}
                                                <input type="submit" style="width: 170px !important; padding: 0 20px 0 20px;" class="deleteAnAddress" value="Удалить">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="afterAddressMenu btw" style="width: 100%; margin-bottom: 10px; padding: 0 5% 0 5%; box-sizing: border-box;">
                                    <div class="flex" style="margin-left: 0;">
                                        <div class="itemEdit {{ item.id }}" style="padding: 24px 0 0 0; width: 46% !important;">
                                            Изменить
                                        </div>
                                        <form action="" method="POST" class="inside">
                                            <input name="action_type" type="text" value="deleteItem" style="display: none;">
                                            <input name="delete_item_id" type="text" value="{{ item.id }}" style="display: none;">
                                            {% csrf_token %}
                                            <input style="width: 94% !important;" type="submit" class="deleteAnAddress" value="Удалить">
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="addAnItemList addAnItem" style="margin: 0 !important;">
                                <b>+</b>
                            </div>
                        {% endif %}
                    </div>
                    <div class="adr pointer" style="margin: 20px 0 5px 80px;">
                        <div class="flex btw">
                            <div class="underln">
                                <b>Адреса</b>
                            </div>
                            <div class="opn active">
                                <b>ᐃ</b>
                            </div>
                        </div>
                    </div>
                    <div class="addresses flex">
                        {% if provider_addresses %}
                            {% for adr in provider_addresses %}
                                <div style="font-size: 1em;" class="address flex btw vCenter">
                                    <div class="addressName" style="max-width: 70%;">
                                        {{ adr.city }}, {{ adr.street }} {{ adr.house }} к{{ adr.building }}
                                    </div>
                                    <div class="flex" style="flex-direction: column; margin-left: 0;">
                                        <form action="" method="POST" class="inside">
                                            <input name="action_type" type="text" value="delete_an_address_provider" style="display: none;">
                                            <input name="delete_adr_id" type="text" value="{{ adr.id }}" style="display: none;">
                                            {% csrf_token %}
                                            <input type="submit" style="width: auto !important; padding: 0 20px 0 20px;" class="deleteAnAddress" value="Удалить">
                                        </form>
                                    </div>
                                </div>
                                <div class="afterAddressMenu" style="margin-bottom: 10px;">
                                    <div class="flex" style="margin-left: 0;">
                                        <form action="" method="POST" class="inside">
                                            <input name="action_type" type="text" value="delete_an_address_provider" style="display: none;">
                                            <input name="delete_adr_id" type="text" value="{{ adr.id }}" style="display: none;">
                                            {% csrf_token %}
                                            <input type="submit" class="deleteAnAddress" value="Удалить">
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        <div class="addAnAddressProvider" style="margin: 10px 0 0 0 !important;">
                            <b>+</b>
                        </div>
                        {% else %}
                            <div class="address flex btw vCenter addCafeAddress">
                                <div  class="addressName" style="max-width: 70%;">
                                    Добавьте адрес
                                </div>
                                <div class="makeAnOrder">
                                    <b>+</b>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}
        </div>

        <div class="addressMenu flex">
            <form action="" method="POST" class="flex">
                <div class="flex btw">
                    <span class="frm"><b>Адрес</b></span>
                    <span class="closeIt" style=""><b>x</b></span>
                </div>
                <input name="action_type" type="text" value="add_address" style="display: none;">
                <input type="text" name="name" maxlength="150" required="" id="name" placeholder="Название адреса">
                <input type="text" name="city" maxlength="150" required="" id="city" placeholder="Город">
                <input type="text" name="street" maxlength="150" required="" id="street" placeholder="Улица">
                <div class="inARow flex">
                    <input type="text" name="house" maxlength="150" required="" id="house" placeholder="Дом">
                    <input type="text" name="building" maxlength="150" id="building" placeholder="Корпус">
                </div>
                <input type="text" name="entrance" maxlength="150" id="entrance" placeholder="Подъезд">
                <div class="inARow flex">
                    <input type="text" name="floor" maxlength="150" id="floor" placeholder="Этаж">
                    <input type="text" name="flat" maxlength="150" id="flat" placeholder="Квартира">
                </div>

                {% csrf_token %}
                <input type="submit" value="Добавить" class="pointer">
            </form>
        </div>

        <div class="edit flex">
            <form action="" method="POST" class="input_file flex" enctype="multipart/form-data">
                <div class="flex btw">
                    <span class="frm"><b>Изменить</b></span>
                    <span class="closeIt" style=""><b>x</b></span>
                </div>
                <input name="action_type" type="text" value="changing_info" style="display: none;">
                <input type="text" name="first_name" maxlength="150" required="" id="first_name" placeholder="Имя" value="{{ request.user.first_name }}">
                <input type="text" name="last_name" maxlength="150" required="" id="last_name" placeholder="Фамилия" value="{{ request.user.last_name }}">
                <input type="text" name="email" maxlength="150" required="" id="email" placeholder="Почта" value="{{ request.user.email }}">
                <input type="text" name="phone_number" maxlength="150" required="" id="phone_number" placeholder="Телефон" value="{{ request.user.phone_number }}">
<!--                <input type="file" id="pro_pic" name="profile_picture" accept=".jpg, .jpeg, .png">-->

                <input class="" type="file" id="pro_pic" name="profile_picture" accept=".jpg, .jpeg, .png">
                <div class="fake_file">
                    <input type="text" class="fake_file_input" value="Добавить фото">
                </div>
                {% csrf_token %}
<!--                <input type="submit" value="Изменить пикчуу" class="pointer">-->
<!--                {% csrf_token %}-->
<!--                <input type="submit" value="Добавить" class="pointer">-->
                <input type="submit" value="Готово" class="pointer rltv editSubmit">
                <div class="psswrd">
                    <a href="{% url 'change_password' %}">Сменить пароль</a>
                </div>
            </form>

        </div>
        {% if user.is_cafe_owner %}
            <div class="addressMenuProvider flex">
                <form action="" method="POST" class="flex">
                    <div class="flex btw">
                        <span class="frm"><b>Адрес</b></span>
                        <span class="closeIt" style=""><b>x</b></span>
                    </div>
                    <input name="action_type" type="text" value="add_address_provider" style="display: none;">
                    <input type="text" name="city" maxlength="150" required="" id="city" placeholder="Город">
                    <input type="text" name="street" maxlength="150" required="" id="street" placeholder="Улица">
                    <input type="text" name="house" maxlength="150" required="" id="house" placeholder="Дом">
                    <div class="hint" style="margin: 12px 0 5px 0; font-size: 1.7em;">
                        Далее - при наличии
                    </div>
                    <div class="inARow flex">
                        <input type="text" name="building" maxlength="150" id="building" placeholder="Корпус">
                        <input type="text" name="entrance" maxlength="150" id="entrance" placeholder="Подъезд">
                    </div>

                    {% csrf_token %}
                    <input type="submit" value="Добавить" class="pointer">
                </form>
            </div>
            <div id="0" class="itemEditForm flex">
                <form action="" method="POST" class="input_file flex" enctype="multipart/form-data">
                    <div class="flex btw">
                        <span class="frm"><b>Добавить</b></span>
                        <span class="closeIt" style=""><b>x</b></span>
                    </div>
                    <input name="action_type" type="text" value="changeItem" style="display: none;">
                    <input name="itemId" type="text" value="0" style="display: none;">
                    <input type="text" name="item_name" maxlength="150" id="item_name" placeholder="Название" value="" required>
                    <span class="flex vCenter rdo" style="margin: 20px 0 10px 0; min-width: 100%; justify-content: space-around; font-size: 1.5em;">
                        <span class="flex vCenter"><input type="radio" id="food" name="type" value="e">Блюдо</span>
                        <span class="flex vCenter"><input type="radio" id="drink" name="type" value="d" checked>Напиток</span>
                    </span>
                    <textarea id="description" name="description" placeholder="Описание" required></textarea>
                    <input type="text" name="item_price" maxlength="150" id="item_price" placeholder="Цена" value="" required>

    <!--                <input type="file" id="pro_pic" name="profile_picture" accept=".jpg, .jpeg, .png">-->

                    <input class="" type="file" id="item_pic" name="item_picture" accept=".jpg, .jpeg, .png" required>
                    <div class="fake_file">
                        <input type="text" class="fake_file_input" value="Добавить фото">
                    </div>
                    {% csrf_token %}
                    <input type="submit" value="Готово" class="pointer rltv editSubmit">
                </form>

            </div>
            {% for item in production %}
                <div id="{{ item.id }}" class="itemEditForm flex">
                    <form action="" method="POST" class="input_file flex" enctype="multipart/form-data">
                        <div class="flex btw">
                            <span class="frm"><b>Изменить</b></span>
                            <span class="closeIt" style=""><b>x</b></span>
                        </div>
                        <input name="action_type" type="text" value="changeItem" style="display: none;">
                        <input name="itemId" type="text" value="{{ item.id }}" style="display: none;">
                        <input type="text" name="item_name" maxlength="150" required="" id="item_name" placeholder="Название" value="{{ item.name }}">
                        <textarea id="description" name="description" placeholder="Описание">{{ item.description }}</textarea>
                        <input type="text" name="item_price" maxlength="150" required="" id="item_price" placeholder="Цена" value="{{ item.price }}">

        <!--                <input type="file" id="pro_pic" name="profile_picture" accept=".jpg, .jpeg, .png">-->

                        <input class="" type="file" id="item_pic" name="item_picture" accept=".jpg, .jpeg, .png">
                        <div class="fake_file">
                            <input type="text" class="fake_file_input" value="Добавить фото">
                        </div>
                        {% csrf_token %}
                        <input type="submit" value="Готово" class="pointer rltv editSubmit">
                    </form>

                </div>
            {% endfor %}
        {% endif %}
        <div class="addressMenuMainPage flex">
            <div class="arrowMobile flex">
                <div class="arrow">
                    <b>ᐃ</b>
                </div>
            </div>
            <div class="addressList vCenter">
                <div>
                    <a href="{% url 'index' %}">На главную</a>
                </div>
                <div>
                    <a href="https://t.me/kofefast_bot" target="_blank">Техподдержка</a>
                </div>
                <hr style="width: 90%; margin: 0 10% 0 0; position: static;" class="lineMobile">
                <div>
                    {% if not chosen_items %}
                        Куда доставлять?
                    {% else %}
                        Доступные варианты доставки:
                    {% endif %}
                </div>
                {% if addresses %}
                    {% if chosen_address %}
                        <div class="itemAddress flex btw vCenter">
                            <div style="font-size: 3.5em; min-width: 95%; border-left: 15px solid #deb887 !important; padding: 0 0 0 20px;">
                                {{ chosen_address.name }} ({{ chosen_address.street }} {{ chosen_address.house }})
                            </div>
                            <div class="rltv">
                                <form action="" method="POST" class="inside flex">
                                    <input name="action_type" type="text" value="prefer_address" style="display: none;">
                                    <input name="prefered_adr_id" type="text" value="{{ chosen_address.id }}" style="display: none;">
                                    {% csrf_token %}
                                    <input type="submit" value="Выбрать" class="chooseAnAddressMobile pointer">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% for adr in addresses %}
                        {% if not adr in chosen_address_raw %}
                            <div class="itemAddress flex btw vCenter">
                                <div style="font-size: 3.5em; min-width: 95%; padding: 0 0 0 35px;">
                                    {{ adr.name }} ({{ adr.street }} {{ adr.house }})
                                </div>
                                <div class="rltv">
                                    <form action="" method="POST" class="inside flex">
                                        <input name="action_type" type="text" value="prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Выбрать" class="chooseAnAddressMobile pointer">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="itemAddress flex btw vCenter">
                        <div style="{% if chosen_address %}font-size: 3.5em; min-width: 95%; padding: 0 0 0 35px;{% else %}font-size: 3.5em; min-width: 95%; border-left: 15px solid #deb887; padding: 0 0 0 20px;{% endif %}">
                            Приду и заберу
                        </div>
                        <div class="rltv">
                            <form action="" method="POST" class="inside flex">
                                <input name="action_type" type="text" value="delete_prefer_address" style="display: none;">
                                <input name="prefered_adr_id" type="text" value="" style="display: none;">
                                {% csrf_token %}
                                <input type="submit" value="" class="chooseAnAddressMobile pointer">
                            </form>
                        </div>
                    </div>
                        <div>
                            <a href="{% url 'personal_area' %}">
                                Добавить адрес
                            </a>
                        </div>
                {% else %}
                    <div style="font-size: 3.5em; border-left: 15px solid #deb887; padding: 0 0 0 20px;" class="itemAddressName">
                        Пока нет ни одного адреса
                    </div>
                    <div>
                        <a href="{% url 'personal_area' %}">
                            Добавить адрес
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>

<!--        <div class="bottom flex clmn vCenter">-->
<!--            <div style="margin: 0 0 10px 0;">-->
<!--                Designed by somebody, 2021-->
<!--            </div>-->
<!--            <div>-->
<!--                <a style="color: #eeeeee; font-size: 2em;" href="{% url 'logout' %}">Выйти</a>-->
<!--            </div>-->
<!--        </div>-->

        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/personal_area.js' %}"></script>

    </body>
</html>