<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {{ user.first_name }}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/PA_styles.css' %}">
    </head>
    <body>
        <div class="topMenu flex">
            <div style="font-size: 2.5em;">
                <a href="{% url 'index' %}" style="color: #eeeeee">kofefast</a>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="defaultUserPhoto softBorder pointer">
                    <div style="padding: 10px 0 10px 30px; font-size: 2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <b>Войти</b>
                    </div>
                </div>
            {% else %}
                <div class="defaultUserPhoto softBorder pointer">
                    <div style="padding: 10px 0 10px 30px; font-size: 2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="{% url 'logout' %}">
                            <b>Выйти</b>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mainPA flex">
            <div class="person flex">
                <div class="photo">

                </div>
                <div class="personInfo">
                    <div>
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div>
                        {{ user.email }}
                    </div>
                </div>
            </div>
            <div class="info">

            </div>
        </div>

<!--        <div class="bottom">-->
<!--            Designed by somebody, 2021-->
<!--        </div>-->

        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>