<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {{ user.first_name }} - kofefast
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/PA_styles.css' %}">
    </head>
    <body>
        <div class="topMenu flex">
            <div style="font-size: 3.5em;">
                <a href="{% url 'index' %}" style="color: #eeeeee">kofefast</a>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="defaultUserPhoto softBorder pointer">
                    <div style="padding: 10px 0 10px 30px; font-size: 2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <b>Войти</b>
                    </div>
                </div>
            {% else %}
                <div class="defaultUserPhoto softBorder pointer">
                    <div style="padding: 10px 0 10px 30px; font-size: 2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="{% url 'logout' %}">
                            <b>Выйти</b>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mainPA flex">
            <div class="person flex">
                <div class="photo">

                </div>
                <div class="personInfo">
                    <div>
                        <b>{{ user.first_name }} {{ user.last_name }}</b>
                    </div>
                    <div>
                        {{ user.email }}
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="adr pointer">
                    <div class="flex btw">
                        <div class="underln">
                            <b>Мои адреса</b>
                        </div>
                        <div class="opn active">
                            <b>ᐃ</b>
                        </div>
                    </div>
                </div>
                <div class="addresses flex">
                    {% if addresses %}
                        {% for adr in addresses %}
                            <div class="address">
                                {{ adr.city }}, улица {{ adr.street }}, дом {{ adr.house }}, подъезд {{ adr.entrance }}

                                {% if adr.chosen %}
                                    Этот адресс выбран (он был ластовый, потом будет функционал выбора со стороны фронта)
                                {% else %}
                                    <form action="" method="POST" class="flex">
                                        <input name="action_type" type="text" value="prefer_address" style="display: none;">
                                        <input name="prefered_adr_id" type="text" value="{{adr.id}}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="submit" value="Сделать Предпочтительным" class="pointer">
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    <div class="addAnAddress">
                        <b>+</b>
                    </div>
                    {% else %}
                        <div class="address flex btw vCenter">
                            <div>
                                <span class="addressName"><b>Добавьте адрес</b></span>
                            </div>
                            <div class="addAnAddress">
                                <b>+</b>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="ord pointer">
                    <div class="flex btw">
                        <div class="underln">
                            <b>Мои заказы</b>
                        </div>
                        <div class="cls active">
                            <b>ᐃ</b>
                        </div>
                    </div>
                </div>
                <div class="orders flex">
                    <div class="order flex btw vCenter">
                        <div>
                            <span class="orderName"><b>Сделайте ваш первый заказ</b></span>
                        </div>
                        <div>
                            <a href="{% url 'index' %}">
                                <div class="makeAnOrder">
                                    <b>+</b>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="addressMenu flex">
            <form action="" method="POST" class="flex">
                <div class="flex btw">
                    <span class="frm"><b>Адрес</b></span>
                    <span class="closeIt" style=""><b>x</b></span>
                </div>
                <input name="action_type" type="text" value="add_address" style="display: none;">
                <input type="text" name="city" maxlength="150" required="" id="city" placeholder="Город">
                <input type="text" name="street" maxlength="150" required="" id="street" placeholder="Улица">
                <input type="text" name="house" maxlength="150" required="" id="house" placeholder="Дом, корпус">
                <input type="text" name="entrance" maxlength="150" required="" id="entrance" placeholder="Подъезд (при наличии)">
                {% csrf_token %}
                <input type="submit" value="Добавить" class="pointer">
            </form>
        </div>

<!--        <div class="bottom">-->
<!--            Designed by somebody, 2021-->
<!--        </div>-->

        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/personal_area.js' %}"></script>

    </body>
</html>