body {
    overflow: hidden;
}
.mainPA {
    justify-content: center;
    width: 100%;
    height: 100%;
}
.person {
    margin: 50px 50px 0 70px;
    padding: 0 20px 0 0;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 10px solid #deb887;
}
.person > .photo {
    margin: 0 0 20px 0;
}
.photo {
    background-image: url('../img/person.png');
    background-repeat: repeat;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    transition: .2s;
}
.personInfo > div:first-child {
    font-size: 3em;
    margin: 0 0 10px 0;
}
.personInfo > div:last-child {
    font-size: 2em;
}
.info {
    display: block;
    margin: 50px 50px 0 30px;
    align-items: center;
    max-height: 560px;
    width: 50%;
    flex-direction: column;
    overflow: auto;
    opacity: 1;
    transition: .3s;
}
.info.hidden {
    opacity: 0;
    transition: .3s;
}
.adr, .ord {
    font-size: 2.5em;
    margin: 20px 0 10px 80px;
    width: 76%;
}
.underln {
    cursor: pointer;
}
.orders {
    height: 180px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s !important;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.addresses {
    height: 180px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s !important;
    box-sizing: border-box;
    overflow: hidden;
}

.underln:hover {
    text-decoration: underline 5px solid #eeeeee;
}
.orders.active {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.addresses.active {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.order {
    margin: 10px 0 10px 0;
    border-radius: 30px;
    width: 80%;
    min-height: 150px;
    border: 5px solid #eeeeee;
}
.address {
    margin: 10px 0 10px 0;
    border-radius: 30px;
    width: 80%;
    min-height: 150px;
    max-height: 150px;
    border: 5px solid #eeeeee;
}
.address > div:first-child, .order > div:first-child{
    min-width: 70%;
}
.addressName, .orderName {
    font-size: 1.3em;
    background-color: #deb887;
    color: #111111;
}
.order > div, .address > div {
    margin: 20px 30px 20px 30px;
    font-size: 2em;
}
.makeAnOrder {
    color: #111111;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    padding: 0px 16px 32px 16px;
    font-size: 2em !important;
    border-radius: 40px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.makeAnOrder:hover {
    background-color: #34a853;
    transition: .2s;
}
.addAnAddress {
    color: #111111;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    padding: 0px 15px 32px 15px;
    font-size: 4em !important;
    border-radius: 40px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.addAnAddress:hover {
    background-color: #34a853;
    transition: .2s;
}
.inside {
    width: 40%;
}
.chooseAnAddress {
    color: #111111 !important;
    background-color: #eeeeee !important;
    width: 100px !important;
    height: 70px !important;
    margin: 0 !important;
    background-color: #eeeeee;
    font-size: 1.5em !important;
    border-radius: 40px;
    text-align: center;
    margin: 0 20px 15px 0 !important;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}
.chooseAnAddress:hover {
    background-color: #34a853 !important;
}
.deleteAnAddress {
    color: #111111 !important;
    background-color: #eeeeee !important;
    width: 100px !important;
    height: 70px !important;
    margin: 0 !important;
    background-color: #eeeeee;
    font-size: 1em !important;
    border-radius: 40px;
    text-align: center;
    margin: 0 20px 0 0 !important;
    cursor: pointer;
    transition: .2s;
    font-weight: bolder !important;
}
.deleteAnAddress:hover {
    background-color: #ea4335 !important;
}
.addressMenu {
    justify-content: center;
    position: absolute;
    top: 150px;
    right: -50%;
    width: 52%;
    transition: .5s;
    height: 100%;
    opacity: 0;
}
.addressMenu form {
    margin: 10% 15% 0 0;
}
.addressMenu.active {
    opacity: 1;
    right: 0;
    transition: .5s;
}
.cls, .opn {
    transition: .2s;
}
.cls.active, .opn.active {
    transform: rotate(180deg);
    transition: .2s;
}

@media screen and (max-width: 980px) {
    .address, .order {
        border: 15px solid #eeeeee;
        border-radius: 70px;
        min-height: 350px;
        width: 85%;
        padding: 0 0 0 10px;
    }
    .addressName, .orderName {
        font-size: 3.5em;
        background-color: #deb887;
        color: #111111;
    }
    .addAnAddress {
        color: #111111;
        min-width: 200px;
        height: 200px;
        background-color: #eeeeee;
        padding: 0px 15px 32px 15px;
        font-size: 10.2em !important;
        border-radius: 120px;
        text-align: center;
        margin: 10px 0 0 15px;
        cursor: pointer;
        transition: .2s;
    }
}

@media screen and (min-width: 1500px) {
    .addresses, .orders {
        height: 225px;
    }
    .address, .order {
        min-height: 195px;
        width: 80%;
    }
    .info {
        max-height: 660px;
    }
    .person {
        width: 600px;
    }
    .photo {
        width: 500px;
        height: 500px;
        border-radius: 250px;
    }
    .adr, .ord {
        font-size: 3em;
        margin: 20px 0 10px 110px;
        width: 76%;
    }
    .personInfo > div:first-child {
        font-size: 3.5em;
        margin: 0 0 10px 0;
    }
    .personInfo > div:last-child {
        font-size: 2.5em;
    }
    .addressName, .orderName {
        font-size: 1.7em;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 5px solid #deb887;
    background-color: #deb887;
}
