body {
    overflow: hidden;
}
.mainPA {
    justify-content: left;
    width: 100%;
    height: 100%;
}
.person {
    margin: 50px 50px 0 70px;
    padding: 0 20px 0 0;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 10px solid #deb887;
}
.person > .photo {
    margin: 0 0 20px 0;
}
.photo {
    background-image: url('../img/person.png');
    background-repeat: repeat;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    transition: .2s;
}
.info {
    margin: 50px 50px 0 30px;
    align-items: center;
    max-height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
}
.underln {
    cursor: pointer;
}
.orders {
    max-height: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.addresses {
    max-height: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s;
    overflow: hidden;
}
.underln:hover {
    text-decoration: underline 5px solid #eeeeee;
}
.orders.active {
    max-height: 370px;
    transition: .3s;
    overflow: auto;
}
.addresses.active {
    max-height: 370px;
    transition: .3s;
    overflow: auto;
}
.order {
    margin: 10px 0 10px 0;
    border-radius: 30px;
    width: 80%;
    min-height: 150px;
    border: 5px solid #eeeeee;
}
.address {
    margin: 10px 0 10px 0;
    border-radius: 30px;
    width: 80%;
    min-height: 150px;
    border: 5px solid #eeeeee;
}
.order > div, .address > div {
    margin: 20px;
}
.makeAnOrder {
    color: #111111;
    background-color: #eeeeee;
    padding: 0 17px 5px 17px;
    font-size: 3em;
    border-radius: 40px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.makeAnOrder:hover {
    background-color: #34a853;
    transition: .2s;
}
.addAnAddress {
    color: #111111;
    background-color: #eeeeee;
    padding: 0 17px 5px 17px;
    font-size: 3em;
    border-radius: 40px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.addAnAddress:hover {
    background-color: #34a853;
    transition: .2s;
}
.addressMenu {
    justify-content: center;
    position: absolute;
    top: 150px;
    right: -50%;
    width: 49%;
    background-color: #111111;
    transition: .5s;
    height: 100%;
    opacity: 0;
}
.addressMenu form {
    margin: 10% 15% 0 0;
}
.addressMenu.active {
    opacity: 1;
    right: 0;
    transition: .5s;
}
.cls, .opn {
    transition: .2s;
}
.cls.active, .opn.active {
    transform: rotate(180deg);
    transition: .2s;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border: 2px solid #555555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid #eeeeee;
    background-color: #eeeeee;
}
