body {

}
.mainPA {
    justify-content: center;
    width: 100%;
    height: 100%;
}
.person {
    margin: 30px 50px 0 70px;
    padding: 0 20px 0 0;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 10px solid #deb887;
}
.person .photo {
    padding: 0 10px 20px 10px;
}
.changePhoto {
    filter: invert();
    transform: filter;
    position: relative;
    top: 170px;
    left: 170px;
    opacity: 0;
    background-image: url('../img/edit.svg');
    width: 60px;
    height: 60px;
    transition: .3s;
}
.photo {
    background-repeat: repeat;
    border-radius: 200px;
    width: 350px;
    height: 350px;
    transition: .2s;
}
.photoMobile {
    display: none;
}
.photoNotMobile {
    display: flex;
}
.func {
    display: none;
}
.person > div:first-child {
    border-radius: 200px;
    box-shadow: 0 0 0 10px #eeeeee;
    margin: 0 0 30px 0 !important;
}
.person div:first-child:hover > .photo:not(.changePhoto) {
    opacity: .5;
}
.person div:first-child:hover > .changePhoto {
    opacity: 1;
    transition: .3s;
}
.personInfo > div:first-child {
    font-size: 3em;
    margin: 10px 0 15px 0;
}
.personInfo > div:nth-child(2) {
    font-size: 2em;
    margin: 0 0 10px 0;
}
.personInfo > div:nth-child(3) {
    font-size: 2em;
}

.info {
    display: block;
    margin: 30px 50px 0 30px;
    align-items: center;
    height: 580px;
    width: 720px;
    flex-direction: column;
    overflow: auto;
    opacity: 1;
    transition: .3s;
}
.info.hidden {
    opacity: 0;
    transition: .3s;
}
.adr, .ord {
    font-size: 2.5em;
    margin: 0px 0 5px 80px;
    width: 76%;
}
.ord {
    font-size: 2.5em;
    margin: 20px 0 5px 80px;
    width: 76%;
}
.underln {
    cursor: pointer;
}
.orders {
    height: 210px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s !important;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.addresses {
    height: 210px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s !important;
    box-sizing: border-box;
    overflow: hidden;
}

.underln:hover {
    text-decoration: underline 5px solid #eeeeee;
}
.orders.active {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.addresses.active {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.order {
    margin: 10px 0 10px 0;
    border-radius: 40px;
    width: 85%;
    min-height: 180px;
    border: 10px solid #eeeeee;
}
.order:hover  .makeAnOrder {
    background-color: #34a853;
    transition: .2s;
}
.order:hover {
    cursor: pointer;
}
.address {
    margin: 10px 0 10px 0;
    border-radius: 40px;
    width: 85%;
    min-height: 180px;
    max-height: 180px;
    border: 10px solid #eeeeee;
}
.address > div:first-child, .order > div:first-child{
}
.addressName, .orderName {
    margin-right: 0 !important;
    max-height: 150px;
    font-weight: bold;
    font-size: 2.5em !important;
    color: #deb887;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.order > div, .address > div {
    margin: 20px 30px 20px 30px;
    font-size: 2em;
}
.order > div:last-child, .address > div:last-child {
    margin: 20px 12px 20px 30px !important;
}
.makeAnOrder {
    color: #eeeeee;
    width: 50px;
    height: 50px;
    background-color: #111111;
    box-shadow: inset 0 0 0 5px #eeeeee;
    padding: 0px 18px 35px 18px;
    font-size: 2em !important;
    border-radius: 45px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.makeAnOrder:hover {
    background-color: #34a853;
    transition: .2s;
}
.address:hover > .addAnAddress {
    background-color: #34a853;
    transition: .2s;
}
.address:hover {
    cursor: pointer;
}
.addAnAddress {
    color: #eeeeee;
    width: 50px;
    height: 50px;
    background-color: #111111;
    box-shadow: inset 0 0 0 5px #eeeeee;
    padding: 0px 17px 35px 17px;
    font-size: 4em !important;
    border-radius: 45px;
    text-align: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: .2s;
}
.addAnAddress:hover {
    background-color: #34a853;
    transition: .2s;
}
.inside {
    width: 40%;
}
.chooseAnAddress {
    color: #eeeeee !important;
    width: 260px !important;
    height: 70px !important;
    margin: 0 !important;
    background-color: #111111 !important;
    box-shadow: inset 0 0 0 5px #eeeeee;
    font-size: 0.9em !important;
    border-radius: 40px;
    text-align: center;
    margin: 0 0px 15px 0 !important;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    box-sizing: border-box
}
.chooseAnAddress:hover {
    background-color: #34a853 !important;
}
.deleteAnAddress {
    color: #eeeeee !important;
    background-color: #111111 !important;
    box-shadow: inset 0 0 0 5px #eeeeee;
    width: 260px !important;
    height: 70px !important;
    margin: 0 !important;
    background-color: #eeeeee;
    font-size: 0.9em !important;
    border-radius: 40px;
    text-align: center;
    margin: 0 !important;
    cursor: pointer;
    transition: .2s;
    font-weight: bolder !important;
}
.deleteAnAddress:hover {
    background-color: #ea4335 !important;
}
.addressMenu {
    justify-content: center;
    position: absolute;
    top: 40px;
    right: -50%;
    width: 52%;
    transition: .5s;
    height: auto;
    opacity: 0;
}
.addressMenu form {
    margin: 10% 15% 0 0;
}
.addressMenu.active {
    opacity: 1;
    right: 0;
    transition: .5s;
}
.inARow > input {
    width: 50%;
}
.inARow > input:first-child {
    margin-right: 5px;
}
.inARow > input:last-child {
    margin-left: 5px;
}
.edit {
    justify-content: center;
    position: absolute;
    top: 180px;
    right: -50%;
    width: 52%;
    transition: .5s;
    height: 100%;
    opacity: 0;
    height: auto;
}
.editSubmit {
    bottom: 97px;
}
.input_file {
    position: relative !important;
    margin: 0 0 10px 0 !important;
}
.input_file > input[type=file] {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: relative !important;
    z-index: 2 !important;
    height: 67px !important;
    width: 440px !important;
}
.fake_file {
    position: relative;
    height: 67px;
    bottom: 78px;
    width: 100%;
}
.fake_file input:not([type="button"]) {
    color: #111111;
    font-weight: bold;
    font-size: 2em !important;
    background-color: #eeeeee;
    max-width: 336px;
    margin: 0;
}
input[type='file'] {
    background-color: #eeeeee;
}
.edit form {
    margin: 10% 15% 0 0;
}
.edit.active {
    opacity: 1;
    right: 2%;
    transition: .5s;
}
.cls, .opn {
    transition: .2s;
}
.cls.active, .opn.active {
    transform: rotate(180deg);
    transition: .2s;
}
.afterAddressMenu {
    display: none;
}
.addAnAddressMobile {
    display: none;
}

@media screen and (max-width: 980px) {
    .topMenu {
        width: 100%;
        text-align: center;
        padding: 10px 0 0 0;
        position: absolute;
        z-index: 2000;
    }
    .lineMobile {
        position: absolute;
        top: 268px;
        margin-left: 72.297px;
    }
    .func {
        display: flex;
    }
    body {
        overflow-y: auto;
    }
    .logo {

    }
    .mainPA {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .changePhoto {
        display: none;
    }
    .person {
        position: absolute;
        z-index: 2000;
        display: block;
        top: 330px;
        margin: 50px 0 0 5%;
        padding: 0;
        border: none;
        width: 90%;
        height: 1500px;
    }
    .person > div:first-child {
        margin: 0 0 70px 0 !important;
        width: 100%;
        height: 870px;
        border-radius: 500px;
        box-shadow: 0 0 0 15px #eeeeee;
    }
    .personInfo > div:first-child {
        font-size: 6em;
        margin: 0 0 30px 0;
    }
    .personInfo > div:nth-child(2) {
        font-size: 4em;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 15px solid #333333;
    }
    .personInfo > div:nth-child(3) {
        font-size: 5em;
        margin: 50px 0 60px 0;
    }
    .personInfo > div:last-child {
        font-size: 4em;
    }
    .photo {
        width: 99%;
        min-height: 100%;
        border-radius: 500px;
    }
    .photoNotMobile {
        display: none;
    }
    .photoMobile {
        display: flex;
        width: 95%;
        height: 850px;
        border-radius: 500px;
        border: 15px solid #eeeeee;
        margin: 0 0 40px 0;
    }
    .func {
        box-shadow: 0 0 0 15px #eeeeee;
        border-radius: 60px;
        padding: 10px 40px 10px 40px;
        height: 100px;
        margin: 20px;
    }
    .info {
        position: absolute;
        z-index: 1000;
        margin: 0;
        top: 1900px;
        width: 100%;
        height: auto;
        padding: 60px 0 0 0;
    }
    .info.hidden {
        z-index: 0;
    }
    .info.move {
        top: 2070px;
    }
    form {
        width: 100% !important;
    }
    .closeIt {
        font-size: 2.5em;
        height: 100px;
        width: 140px;
        border-radius: 80px;
        padding: 0 0 40px 0;
    }
    .addressMenu form > input, .edit form > input {
        height: 150px;
        margin: 50px !important;
        text-align: left;
        font-size: 4em;
        border-radius: 0;
        border: none;
        border-bottom: 15px solid #333333;
    }
    .addressMenu form div > input {
        height: 150px;
        margin: 50px !important;
        text-align: left;
        font-size: 4em;
        border-radius: 0;
        border: none;
        border-bottom: 15px solid #333333;
    }
    .addressMenu form > input[type='submit'], .edit form > input[type='submit'] {
        text-align: center;
        border-radius: 100px;
        border: none;
    }
    .addressMenu form  > div:first-child, .edit form > div:first-child {
        font-size: 2.5em;
        margin: 30px;
    }
    .addressMenu form, .edit form {
        width: 100% !important;
        margin: 0;
    }
    .edit {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 400px;
        z-index: 0;
        width: 100%;
        transition: .3s;
        padding: 0 0 0 10px;
        right: 0;
    }
    .edit.active {
        opacity: 1;
        z-index: 2000;
    }
    .personInfo.hidden {
        opacity: 0;
        z-index: 0;
    }
    .person.hidden {
        opacity: 0;
        z-index: 0;
    }
    .person, .personInfo {
        transition: .3s;
    }
    .addressMenu {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        transition: .3s;
        padding: 0 0 0 10px;
        top: 0;
        height: auto;
    }
    .addressMenu.active {
        opacity: 1;
        z-index: 2000;
        transition: .3s;
        top: 2000px;
    }
    .addresses, .orders {
        height: 400px;
    }
    .afterAddressMenu {
        display: block;
        margin: 10px 0 0 0;
        width: 85%;
    }
    .afterAddressMenu > div {
        justify-content: center;
        margin: 0 !important;
    }
    .inside:first-child {
        width: 75% !important;
        max-width: 100%;
        margin: 0 2% 0 0 !important;
    }
    .inside:last-child {
        width: 55% !important;
        max-width: 100%;
    }
    .chooseAnAddress {
        color: #eeeeee !important;
        background-color: #111111 !important;
        width: 550px !important;
        height: 150px !important;
        margin: 0 !important;
        background-color: #eeeeee;
        font-size: 3.7em !important;
        border-radius: 80px;
        text-align: center;
        margin: 0 0px 15px 0 !important;
        cursor: pointer;
        transition: .2s;
        font-weight: bold;
        border: 15px solid #eeeeee;
    }
    .chooseAnAddress:hover {
        background-color: #34a853 !important;
    }
    .deleteAnAddress {
        color: #eeeeee !important;
        background-color: #111111 !important;
        width: 300px !important;
        height: 150px !important;
        margin: 0 !important;
        background-color: #eeeeee;
        font-size: 3.7em !important;
        border-radius: 80px;
        text-align: center;
        margin: 0 !important;
        cursor: pointer;
        transition: .2s;
        font-weight: bolder !important;
        border: 15px solid #eeeeee;
    }
    .deleteAnAddress:hover {
        background-color: #ea4335 !important;
    }


    .address, .order {
        border: 15px solid #eeeeee;
        border-radius: 70px;
        min-height: 350px;
        width: 85%;
        padding: 0 0 0 10px;
    }
    .address > div:first-child {
        max-width: 100% !important;
    }
    .address > div:last-child {
        display: none;
    }
    .adr, .ord {
        font-size: 6em;
    }
    .addressName, .orderName {
        max-width: 100%;
        font-size: 3em;
        color: #deb887;
    }
    .addAnAddress {
        height: 100px;
        width: 50px;
        padding: 0px 0 100px 0 !important;
        border-radius: 200px;
        font-size: 9.7em !important;
        border: 15px solid #eeeeee;
        color: #eeeeee;
        background-color: #111111;
    }
    .addAnAddressMobile {
        display: block;
        color: #eeeeee;
        min-width: 85%;
        height: 125px;
        background-color: #111111;
        padding: 0px 0 0 0 !important;
        border: 15px solid #eeeeee;
        font-size: 5em !important;
        border-radius: 120px;
        text-align: center;
        margin: 10px 0 0 0px;
        cursor: pointer;
        transition: .2s;
    }
}

@media screen and (min-width: 1500px) {
    /*.editSubmit {
        bottom: 89px;
    }
    .input_file {
        position: relative !important;
        margin: 0 0 10px 0 !important;
    }
    .input_file > input[type=file] {
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        position: relative !important;
        z-index: 2 !important;
        height: 77px !important;
        width: 440px !important;
    }
    .fake_file {
        position: relative;
        bottom: 88px;
        width: 100%;
    }
    .fake_file input:not([type="button"]) {
        color: #111111;
        font-weight: bold;
        font-size: 3em !important;
        background-color: #eeeeee;
        max-width: 436px;
        margin: 0;
    }
    input[type='file'] {
        background-color: #eeeeee;
    }
    .edit form {
        margin: 10% 15% 0 0;
    }
    .addresses, .orders {
        height: 225px;
    }
    .address, .order {
        min-height: 195px;
        width: 80%;
    }
    .info {
        height: 720px;
    }
    .person {
        width: 600px;
    }
    .person .photo {
        padding: 0 10px 20px 10px;

    }
    .changePhoto {
        top: 220px;
        left: 220px;

    }
    .photo {
        border-radius: 300px;
        width: 450px;
        height: 450px;
    }
    .person > div:first-child {
        border-radius: 300px;
    }
    .adr, .ord {
        font-size: 3em;
        margin: 20px 0 10px 110px;
        width: 80%;
    }
    .personInfo > div:first-child {
        font-size: 4em;
        margin: 0 0 10px 0;
    }
    .personInfo > div:nth-child(2) {
        font-size: 2.5em;
        margin: 0 0 10px 0;
    }
    .personInfo > div:last-child {
        font-size: 2.5em;
    }
    .addressName, .orderName {
        font-size: 1.9em;
    }
    */
    .address, .order {
        width: 80%;
    }
    .adr, .ord {
        padding: 0 0 0 30px;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 5px solid #deb887;
    background-color: #deb887;
}
