body {
    font-family: "ProductSans-Regular";
    background: #111111;
    color: #eeeeee;
    overflow: auto;
    overflow-x: hidden;
    opacity: 1;
    transition: .3s;
}
a {
    color: #111111;
    text-decoration: none;
}
::selection {
    background-color: #deb887;
    color: #111111;
}
@font-face {
    font-family: "ProductSans-Regular";
    src: url("../fonts/google_sans/ProductSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
input {
    outline: none;
    font-family: "ProductSans-Regular";
}
input[type="radio"] {
    margin: 0 15px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 5px solid #eeeeee;
    background-color: #111111;
}
input:checked {
    background-color: #deb887 !important;
}
#timeInput {
    border-radius: 0 !important;
    font-size: 1em;
    text-align: left;
    border: none;
    width: 150px;
}
textarea {
    outline: none;
    font-family: "ProductSans-Regular";
    resize: none !important;
}
.flex {
    display: flex;
}
.rltv {
    position: relative !important;
}
.clmn {
    flex-direction: column !important;
}
.btw {
    justify-content: space-between !important;
}
.vCenter {
    align-items: center;
}
.softBorder {
    border-radius: 30px;
}
.reallySoftBorder {
    border-radius: 0 42px 42px 0;
}
.pointer {
    cursor: pointer;
}
/*.scrollUp {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 49%;
    left: 1%;
}
.scrollUp > span {
    width: 20px;
    height: 7px;
    border-radius: 10px;
    background-color: #eeeeee;
}
.scrollUp > span:first-child {
    transform: rotateY(45deg);
}
.scrollUp > span:last-child {

}*/
.topMenu {
    justify-content: space-between;
    padding: 15px 30px 0 30px;
    height: 100px;
    align-items: flex-start;
}
.topMenu > div:last-child {
    position: relative;
    top: 15px;
}
.logo {
    font-size: 3.5em;
}
.arrowMobile {
    display: none;
}
.basketImage {
    filter: invert();
    transform: filter;
    width: 60px;
    height: 60px;
    background-image: url('../img/basket.svg');
    border-radius: 20px;
}
.defaultUserPhoto {
    filter: invert() !important;
    transform: filter !important;
    background-size: cover !important;
    width: 50px !important;
    height: 50px !important;
}
.provider.active > .mapPointImage {
    filter: none;
}
.mapPointImage {
    filter: invert();
    width: 43px;
    height: 43px;
    border-radius: 30px;
    margin: 0 0 0 15px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/map-point.svg');
    transition: .2s;
}
.provider.active > .mapPointImage:hover {
    background-color: #eeeeee;
    transition: .2s;
    filter: invert();
}
.mapPointImage:hover {
    background-color: #eeeeee;
    filter: none;
    transition: .2s;
}
.mapForProvider {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: none;
    padding: 15% 30%;
    background-color: rgba(17, 17, 17, .5);
}
.mapForProvider.active {
    display: block;
}

.main {
    max-width: 100%;
    padding: 60px 100px 0 20%;
    position: static;
    box-sizing: border-box;
}
.mainAuth {
    padding: 10px 30px 0px 30px;
    flex-direction: column;
    align-items: center;
}
.mainAuth > div {
    margin: 0 0 50px 0;
}
.hd {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    margin: 30px 0 40px 0 !important;
}
.chs {
    font-size: 0.8em;
    margin: 10px 10px 0 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 70px;
    background-color: #111111;
    color: #eeeeee;
}
.cancel > form {
    border-left: 7px solid #deb887;
    padding: 0 0 0 10px;
    width: auto;
    height: 80px;
}
.cancel form > input {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    color: #eeeeee;
    font-size: 1.1em;
    border-radius: 50px;
    width: 260px;
    height: 70px;
    padding: 11px 10px 17px 10px;
    box-sizing: border-box;
    line-height: 10px;
    margin: 8px 0 0 0;
    background-color: #111111;
    transition: .2s;
}
.cancel form > input:hover {
    text-decoration: underline 5px #eeeeee;
    transition: .2s;
}
.makeAnOrder {
    text-align: left;
    flex-direction: row;
    width: 100%;
    font-size: 2em;
    flex-wrap: wrap;
}
.makeAnOrder > div:not(:last-child) {
    margin: 0;
    min-width: 30%;
}
.makeAnOrder > textarea {
    background-color: #111111;
    border-bottom: 7px solid #333333;
    border: none;
    resize: none;
    height: 100px;
    color: #eeeeee;
    font-family: "ProductSans-Regular";
    font-size: 1em;

}

.makeAnOrderButton {
    text-align: center;
    font-size: 1.5em !important;
    padding: 0 20px 0 20px;
    width: 230px;
    margin: 0;
    box-shadow: none;
    background-color: #deb887 !important;
    color: #111111;
}
.basketList {
    border-left: 6px solid #deb887;
    padding: 0 0 0 15px;
    max-width: 97%;
}
.basketAddress {
    border-left: 6px solid #deb887;
    padding: 0 0 0 15px;
    max-width: 97%;
}
.basketHd {
    font-weight: bold;
    font-size: 1.3em;
    margin: 15px 0 15px 0;
}
.sum {
    margin: 0 20px 0 0;
}
.categories {
    justify-content: center;
    max-width: 85%;
    margin: 0 0 40px 0 !important;
    flex-wrap: wrap;
    justify-content: center;
}
.categories > div:not(.item) {
    margin: 0 15px 15px 15px;
    font-size: 3em;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}
.categories > div:hover {
    box-shadow: inset 0 0 0 5px #deb887;
    transition: .2s;
}

.option {
    padding: 5px 10px 5px 10px;
    border-radius: 35px;
    background-color: #111111;
    color: #eeeeee;
    transition: .2s;
}
.option.active {
    background-color: #deb887;
    color: #111111;
    transition: .2s;
}

.provider {
    padding: 5px 10px 5px 10px;
    border-radius: 35px;
    background-color: #111111;
    color: #eeeeee;
    transition: .2s;
}
.provider.active {
    background-color: #deb887;
    color: #111111;
    transition: .2s;
}
.coffee, .food {
    display: none;
}
.coffee.active, .food.active {
    display: flex;
}
.line {
    background-color: #333333;
    width: 85%;
    height: 10px;
    border: none;
}
.lineMobile {
    display: none;
}
.emptyList {
    font-size: 2em;
}
.list {
    padding: 0 0 0 0 !important;
    width: 85%;
    /*margin: 0 20px 0 20px !important;
    border-top: 5px solid #333333;*/
}
.coffee, .food {
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    display: none;
}
.item:not(:last-child) {
    margin: 0 0 60px 0;
}
.item.show {
    max-width: 46%;
    min-width: 46%;
    display: flex;
    height: 425px;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 0 0 10px #eeeeee;
    transition: .2s;
    justify-content: space-between;
    color: #eeeeee;
}
.item.active {
    max-width: 46%;
    min-width: 46%;
    box-shadow: 0 0 0 10px #eeeeee;
    display: flex;
    margin: 0 0 60px 0;
    height: 425px;
    border-radius: 50px;
    align-items: center;
    transition: .2s;
    justify-content: space-between;
    color: #eeeeee;
}
.item > .itemInner {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, .85);
    margin: 0;
}
.lineMobileForm {
    display: none;
}
.cntnr {
    max-height: 100%;
    margin: 30px 0px 30px 40px;
    max-width: 60%;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.itemPrice {
    font-weight: bold;
    color: #eeeeee;
    font-size: 2.8em;
}
.itemName {

    font-weight: bold;
    font-size: 2.8em;
    color: #eeeeee;
}
.itemDescription {
    border-left: 7px solid #deb887;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 0 0 15px;
    font-size: 2em;
}
.item.show .itemInner > div:not(:first-child) {
    margin: 0 10px 10px 20px;
}
.item.active .itemInner > div:not(:first-child) {
    margin: 0 10px 10px 20px;
}
.item.show .itemInner > div:last-child {
    margin: 0 10px 20px 20px;
}
.item.active .itemInner > div:last-child {
    margin: 0 10px 20px 20px;
}

.addToBasket {
    justify-content: center;
    align-items: center;
    max-width: 80px;
    margin: 0 40px 0 0 !important;
}
.counter {

}
.addToBasket > div:nth-child(2) {
    margin: 20px 0 20px 0;
    height: 70px;
    width: 70px;
    border-radius: 60px;
    box-shadow: 0 0 0 5px #eeeeee;
    background-color: #111111;
    color: #eeeeee;
    padding: 25px 20px 15px 20px;
    font-size: 3em;
    text-align: center;
}
.addToBasket div:first-child form:hover > input {
    background-color: #34a853;
    transition: .2s;
}
.addToBasket div:last-child form:hover > input {
    background-color: #ea4335;
    transition: .2s;
}
.addToBasket div > form {
    width: auto !important;
    height: auto !important;
}
.addToBasket form > input {
    margin: 0;
    padding: 0 !important;
    height: 70px;
    width: 73px;
    border-radius: 60px;
    background-color: #111111;
    box-shadow: 0 0 0 5px #eeeeee;
    color: #eeeeee;
    padding: 0 20px 73px 20px !important;
    font-size: 3.5em;
    text-align: center;
    transition: .2s;
    box-sizing: border-box;
}
.description {
    font-size: 3.5em;
    max-width: 350px;
    padding: 0 40px 0 0;
    text-align: right;
    position: absolute;
    top: 50%;
    margin: -225px 0 0 0;
    right: 52%;
    box-shadow: 10px 0 0 0 #deb887;
    transition: .2s;
}
.description.active {
    top: 50%;
    margin: -175px 0 0 0;
    transition: .2s;
}
.registrationButton {
    width: auto;
    opacity: 0;
    transition: .2s;
    position: absolute;
    top: 50%;
    margin: 195px 0 0 0;
    right: 52%;
}
.registrationButton.active {
    top: 50%;
    padding: 5px 20px 5px 20px;
    position: absolute;
    height: 70px;
    opacity: 1;
    background-color: #deb887;
    color: #111111;
    transition: .2s;
    margin: 153px 0 0 0;
    font-size: 3em;
}
.registrationButton.active:hover {
    margin: 150px 0 0 0;
    transition: .2s;
}
.information, .registration, .authorization {
    top: 50%;
    margin-top: -275px;
    padding: 0 20% 0 0;
    position: absolute;
    left: 70%;
    opacity: 0;
    max-width: 400px;
    max-height: 100%;
    transition: .5s;
    z-index: 1000;
    height: 60%;
}
.information {
    top: 50%;
    margin-top: -210px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 390px !important;
    max-height: 100%;
    font-size: 1.9em;
}
.authorization {
    top: 50%;
    margin-top: -170px;
}
.password_change {
    z-index: 1000;
    opacity: 1;
    transition: .3s;
}
.password_change.hidden {
    cursor: default !important;
    z-index: 0;
    opacity: 0;
    transition: .3s;
}
.password_change_return {
    bottom: 130px;
    z-index: 1000;
    opacity: 1;
    transition: .3s;
}
.password_change_return.hidden {
    bottom: 0;
    cursor: default !important;
    z-index: 0;
    opacity: 0;
    transition: .3s;
}
@media screen and (min-width: 1001px) {
    .authorization.move {
        top: 53%;
        height: 300px;
    }
}
.submitAuth {
    bottom: 0px;
    transition: .3s;
}
.submitAuth.active {
    bottom: 75px;
    transition: .3s;
}
.passwordAuth {
    opacity: 1;
    transition: .3s;
}

.passwordAuth.active {
    opacity: 0;
    transition: .3s;
}
@media screen and (max-width: 1000px) {
    .password_change_return {
        bottom: 450px;
        z-index: 1000;
        opacity: 1;
        transition: .3s;
    }
    .submitAuth.active {
        bottom: 310px;
        transition: .3s;
    }
}
.information.active, .registration.active, .authorization.active {
    left: 51.5%;
    opacity: 1;
    transition: .5s;
    z-index: 2000;
}
.frm {
    text-align: left;
    font-size: 2em;
    margin: 0 0 0 20px;
}
form {
    text-align: center;
    flex-direction: column;
    width: 350px;
}
input {
    border: none;
    height: 55px;
    border-radius: 35px;
    text-align: center;
    margin: 10px 0 0 0;
}
input:not([type='submit']) {
    border: 5px solid #eeeeee;
    background-color: #111111;
    color: #eeeeee;
    font-size: 1.5em;
}
input[type='submit'] {
    background-color: #deb887;
    font-size: 2em;
    font-weight: bold;
    height: 63px;
}
.bottom {
    justify-content: center;
    width: 100%;
    height: 130px;
    font-size: 1.5em;
}
.closeIt {
    text-align: center;
    font-size: 2em;
    background: none;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: .2s;
}
.closeIt:hover {
    color: #111111;
    background-color: #ea4335;
    transition: .2s;
}

.mainMobile {
    display: none;
}


.menuMainPage {
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(17, 17, 17, 1), rgba(17, 17, 17, .7), rgba(10, 10, 10, 0));
}
.addressMenuMainPage {
    display: none;
}
.addressPart {
    position: absolute;
    height: 100px;
    right: 150px;
}
.addressPart > form {
    width: auto;
    flex-direction: row;
}
select {
    font-size: 2.2em;
    padding: 10px;
    border-radius: 30px;
    font-family: "ProductSans-Regular";
    outline: none;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #eeeeee;
    max-width: 350px;
}
select option {
    background-color: #111111 !important;
    border: none;
}
.timeSelect {
    font-weight: normal;
    padding: 0;
    width: auto;
    font-size: 1em;
}
option:not(:checked) {
    background-color: #111111;
}
.basketPart {
    justify-content: space-around;
    max-width: 70%;
    width: 70%;
}
.inside {
    max-width: 20%;
    margin: 0 !important;
    width: auto;
}
.chooseAnAddress {
    color: #111111 !important;
    background-color: #eeeeee !important;
    width: 30px !important;
    height: 230px !important;
    min-width: 230px;
    margin: 0 !important;
    padding: 0px 15px 0px 15px;
    background-color: #eeeeee;
    font-size: 7em !important;
    border-radius: 120px;
    text-align: center;
    margin: 0 !important;
    cursor: pointer;
    transition: .2s;
    font-weight: bolder !important;
}
.tgIcon {
    width: 50px;
    height: 50px;
    background-image: url('../img/telegram.png');
}
.topMenuNotMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    border-radius: 60px;
}
.choose {
    background-color: transparent !important;
    color: #eeeeee;
    box-shadow: inset 0 0 0 5px #eeeeee;
    padding: 0 10px 0 10px;
    margin: 0 0 0 10px;
    transition: .2s;
}
.choose:hover {
    background-color: #deb887 !important;
    color: #111111;
    box-shadow: none;
    transition: .2s;
}

.addressMenu {
    justify-content: center;
    position: absolute;
    top: 100px;
    right: -50%;
    width: 52%;
    transition: .5s;
    height: 100%;
    opacity: 0;
}
.addressMenu form {
    margin: 10% 15% 0 0;
}
.addressMenu.active {
    opacity: 1;
    right: 0;
    transition: .5s;
}
.emptyBasket {
    margin: 0 0 0 100px;
    width: 500px;
    font-size: 3em;
}
.mobileInput {
    display: none;
}
.notMobileInput {
    display: block;
}

.topMenuResizable {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: column;
    z-index: 5000;
    width: 70px;
    height: 70px;
    background-color: #111111;
    border-radius: 40px;
    border: 5px solid #eeeeee;
    transition: .3s;
    overflow: hidden;
}
.topMenuResizable > div {
    position: relative;
}
.topMenuResizable div > div {
    margin-bottom: 5px;
}
.topMenuResizable > div:nth-child(2) {
    margin: 0 0 10px 20px;
    top: -50px;
    left: 100px;
    font-size: 2em;
    transition: .3s;
}
.topMenuResizable div:not(:last-child) > div {
    font-size: 1.5em;
}
.topMenuResizable > div:not(:first-child, :nth-child(2)) {
    margin: 0 0 10px 20px;
    top: -42px;
    left: 100px;
    transition: .3s;
}
.topMenuResizable a {
    color: #eeeeee;
}
.profilePhotoTopMenu {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-size: cover;
    background-position: 50% 50%;
    transition: .3s;
}
.topMenuResizable:hover {
    flex-direction: column-reverse;
    border: 7px solid #333333;
    top: 0;
    width: 300px;
    height: 320px;
    transition: .3s;
    box-shadow: 0 0 30px 10px #111111;
}
.topMenuResizable:hover body:not(.topMenuResizable) {
    opacity: 0;
}
.topMenuResizable:hover > .profilePhotoTopMenu {
    opacity: 0;
    transition: .3s;
}
.topMenuResizable:hover > div:nth-child(2) {
    left: 0;
    transition: .3s;
}
.topMenuResizable:hover > div:not(:nth-child(2)) {
    left: 0;
    transition: .3s;
}

input.placeholderWhite:not(input[type="submit"])::placeholder {
    color: #757575 !important;
}

.address_which_is_chosen_box {
    position: fixed;
    top: 45px;
    right: 160px;
    height: 60px;
    border-radius: 0;
    font-size: 2.3em;
    background-color: #111111;
    transition: .3s;
}
.address_which_is_chosen {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.choose_your_address_menu_background {
    z-index: 6000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: rgba(10, 10, 10, .5);
}
.choose_your_address_menu_background.active {
    animation: coming_out .6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.choose_your_address_menu_background.not_active {
    animation: coming_in .6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes coming_out {
    0% {
        top: -100%;
        opacity: 0;
    }
    20% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes coming_in {
    0% {
        top: 0;
        opacity: 1;
    }
    80% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: -100%;
        opacity: 0;
    }
}

.choose_your_address_menu {
    z-index: 7000;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    width: 500px;
    height: 400px;
    border: 7px solid #333333;
    border-radius: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #111111;
    transition: 0.5s;
}
.choose_your_address_menu.hidden {
    opacity: 0;
    top: -500px;
    transition: 0.5s;
}
.addresses_header {
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 2.5em;
}





.main_password {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.change_password_form {
    border-left: solid 10px #deb887;
    padding: 0 0 0 50px;
    margin: 0 0 0 50px;
}
.change_password_form input {
    padding: 1px 0 1px 0 !important;
    min-width: 340px;
}
.change_password_form input[type="submit"] {
    min-width: 350px;
}
.backArrow {
    width: 200px;
    position: absolute;
    height: 100%;
    justify-content: center;
}
a .backArrow:hover div {
    background-color: #eeeeee;
    transition: .2s;
}
.backArrow > div:first-child {
    transform: rotateZ(-45deg) translateX(16px) translateY(-15px);
    width: 50px;
    height: 8px;
    border-radius: 5px;
    background-color: #333333;
    transition: .2s;
}
.backArrow > div:last-child {
    transform: rotateZ(45deg) translateX(2px);
    width: 50px;
    height: 8px;
    border-radius: 5px;
    background-color: #333333;
    transition: .2s;
}

@media screen and (max-width: 1000px) {

    .main_password {
        margin-top: 100px;
        position: static;
    }
    .main_password div form div span {
        font-size: 6em !important;
        text-align: center;
        margin: 0 0 40px 60px;
        width: 100%;
    }
    .main_password div form a {
        font-size: 4em !important;
        margin: 0 0 0 90px !important;
    }
    .main_password > div:first-child {
        display: none;
    }
    .backArrow {
        display: none;
    }
    .change_password_form {
        width: 100%;
        border-left: none;
        padding: 0;
        margin: 0;
    }
    .change_password_form form {
        width: 90%;
    }
    .change_password_form input {
        padding: 1px 0 1px 0 !important;
        min-width: 100%;
        height: 150px;
        margin: 50px !important;
        text-align: left;
        font-size: 4em;
        border-radius: 0;
        border: none;
        border-bottom: 15px solid #333333;
    }
    .change_password_form input[type="submit"] {
        min-width: 100%;
        text-align: center;
        border-radius: 100px;
        border: none;
    }


    .addressPart {
        display: none;
    }
    input[type="radio"] {
        width: 70px;
        height: 70px;
    }
    .rdo > span {
        width: 90%;
    }
    .rdo > span:first-child {
        margin: 0 0 40px 0;
    }
    .rdo span > input[type="radio"] {
        min-width: 70px;
        border: 15px solid #eeeeee !important;
        margin: 0 30px 0 0 !important;
    }
    .rdo {
        justify-content: flex-start !important;
        flex-direction: column !important;
        align-items: flex-start;
        width: 90% !important;
        min-width: 0 !important;
    }
    .emptyList {
        font-size: 4.5em;
    }
    .mobileInput {
        display: block;
    }
    .notMobileInput {
        display: none;
    }
    .cancel > form {
        border-left: 15px solid #deb887;
        padding: 0 0 0 10px;
        width: auto;
        height: 80px;
    }
    .cancel form > input {
        font-weight: normal;
        box-shadow: none;
        color: #eeeeee;
        font-size: 1.1em;
        border-radius: 50px;
        width: 95px;
        height: 70px;
        padding: 11px 10px 17px 10px;
        box-sizing: border-box;
        line-height: 10px;
        margin: 10px 0 0 0;
        background-color: #111111;
        transition: .2s;
    }
    .basketHd {
        font-size: 2.5em;
    }
    .makeAnOrder textarea {
        border: none;
        border-radius: 0;
        font-size: 1.8em !important;
        height: 250px !important;
    }
    .makeAnOrder > div:nth-child(2) {
        flex-direction: column;
    }
    .makeAnOrder div:nth-child(2) div:first-child > div:not(:first-child) {
        margin: 30px 0 30px 0;
        max-width: 100%;
        font-size: 1.65em;
        border-left: 15px solid #deb887;
    }
    .makeAnOrder div:nth-child(2) div:first-child div:not(:first-child) > div:not(:first-child) {
        margin: 20px 0 0 0;
    }
    .makeAnOrder div:nth-child(2) .prmtrs > div:not(:first-child) {
        margin: 30px 0 30px 0;
        max-width: 100%;
        font-size: 1.65em;
        border-left: 15px solid #deb887;
    }
    .makeAnOrder div:nth-child(2) .time > div:not(:first-child) {
        margin: 30px 0 0 0 !important;
        height: auto !important;
        max-width: 100%;
        font-size: 1.65em;
    }
    .makeAnOrderButton {
        height: 100px !important;
        width: auto;
        border-radius: 60px;
        font-size: 2em !important;
    }
    .topMenuResizable {
        display: none !important;
    }
    .topMenuNotMobile {
        display: none !important;
    }
    .emptyBasket {
        width: auto;
        font-size: 6.5em;
        margin: 150px 50px 0 70px;
    }
    /*.leftSide {
        left: 0;
        margin: 0;
    }
    .description.active {
        top: 300px;
        position: absolute;
        box-shadow: none;
        font-size: 10em !important;
        left: 0;
        margin: 0;
        max-width: 100%;
        width: auto;
    }
    .registrationButton {
        top: 1800px;
        position: absolute;
        font-size: 5em !important;
        left: 0;
        margin: 0;
    }
    .registrationButton.active {
        top: 1800px;
        position: absolute;
        font-size: 5em !important;
        left: 0;
        margin: 0;

    }*/
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .main {
        display: none;
    }
    .mainMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .descriptionMobile {
        background-color: #111111;
        z-index: 2000;
        position: absolute;
        font-size: 9.5em;
        padding: 30px 20px 30px 60px;
    }
    .registrationButtonMobile {

    }
    .registrationButtonMobile.active {
        background-color: #111111;
        z-index: 2000;
        position: absolute;
        opacity: 1;
        top: 1460px;
        padding: 100px 30px 40px 30px;
        border-radius: 75px;
        font-size: 6em !important;
        transition: .3s;
        text-align: right;
        width: 87%;
    }
    .registrationButtonMobile.active > span {
        font-size: 1.1em !important;

        color: #eeeeee;
        text-align: right;
    }
    .informationMobile {
        background-color: #111111;
        z-index: 0;
        max-height: 0;
        position: absolute;
        left: 0;
        top: 300px;
        padding: 130px 50px 50px 50px;
        font-size: 5em;
        opacity: 0;
        transition: .5s;
    }
    .informationMobile.active {
        text-overflow: ellipsis;
        top: 2000px;
        z-index: 1000;
        max-height: auto;
        min-height: 1100px;
        opacity: 1;
        transition: .5s;
    }

    .registrationMobile {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        transition: .3s;
        padding: 0 0 0 10px;
    }
    .registrationMobile.active {
        top: 2000px;
        opacity: 1;
        z-index: 2001;
        height: auto;
        transition: .3s;
    }
    .registrationMobile > div:first-child, .authorizationMobile > div:first-child {
        font-size: 2.5em;
        margin: 30px;
    }
    .registrationMobile div form, .authorizationMobile div form {
        width: 100% !important;
    }
    .closeIt {
        font-size: 2.5em;
        height: 100px;
        width: 140px;
        border-radius: 80px;
        padding: 0 0 40px 0;
    }
    .registrationMobile div form > input, .authorizationMobile div form > input {
        height: 150px;
        margin: 50px !important;
        text-align: left;
        font-size: 4em;
        border-radius: 0;
        border: none;
        border-bottom: 15px solid #333333;
    }
    .registrationMobile div form > input[type='submit'], .authorizationMobile div form > input[type='submit'] {
        text-align: center;
        border-radius: 100px;
        border: none;
    }
    .authorizationMobile {
        left: 0;
        position: absolute;
        top: 2000px;
        opacity: 0;
        z-index: 0;
        width: 100%;
        transition: .3s;
    }
    .authorizationMobile.active {
        opacity: 1;
        z-index: 2001;
        height: auto;
        transition: .3s;
    }
    .emptyAddressField {
        min-height: 280px;
        font-size: 5em;
        padding: 80px 40px 0 40px;
        text-align: center;
    }
    .addressNameAdd{
        font-size: 6em;
        background-color: #111111;
        color: #deb887;
    }
    .addAnAddress {
        color: #111111;
        min-width: 200px;
        height: 200px;
        background-color: #eeeeee;
        padding: 0px 15px 32px 15px;
        font-size: 10.2em !important;
        border-radius: 120px;
        text-align: center;
        margin: 10px 0 0 15px;
        cursor: pointer;
        transition: .2s;
    }
    .topMenu {
        justify-content: space-between;
        padding: 10px 30px 0 30px;
        height: 250px;
        max-height: 250px;
        justify-content: center;
        align-items: center;
    }
    .topMenu.active {
        max-height: auto;

    }
    .defaultUserPhotoAuth {
        display: none;
    }
    .defaultUserPhoto {
        display: none;
    }
    .logo {
        font-size: 9em !important;
    }
    .addressMenuMainPageNotMobile {
        display: none;
    }
    .arrowMobile {
        justify-content: center;
        color: #eeeeee;
        min-width: 95%;
        text-align: center;
        display: flex;
        margin: 0 !important;
        background: linear-gradient(to top, #111111, rgba(0, 0, 0, .0));
    }
    .arrow {
        font-size: 9em;
        transition: .2s;
    }
    .arrow.active {
        transform: rotate(180deg);
        transition: .2s;
    }
    .addressMenuMainPage {
        z-index: 10000;
        display: block;
        left: 0;
        bottom: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 950px;
        bottom: -760px;
        display: flex;
        position: fixed;
        margin: 0 !important;
        padding: 0 !important;
        transition: .3s;
    }
    .addressMenuMainPage.active {
        bottom: 0;
        transition: .3s;
    }
    .addressMenuMainPage.active > .addressList {
        height: auto;
    }
    .addressList {
        box-shadow: 0 0 0 3px #111111;
        box-shadow: 0 150px 0 0 #111111;
        display: block;
        max-height: 700px;
        overflow: auto;
        padding: 30px 0 30px 10%;
        float: right;
        background-color: #111111;
    }

    .inside {
        max-width: 20%;
        margin: 0 !important;
        width: auto;
    }
    .item.show {
        max-width: 100%;
        min-width: 100%;
    }
    .item.active {
        max-width: 100%;
        min-width: 100%;
    }
    .itemAddress {

    }
    .itemAddress:not(:first-child) {
        margin: 25px 0 0 0;
    }
    .itemAddress > div:last-child {
        right: 100%;
    }
    .itemAddress div form {
        height: 100%;
        margin: 0 10% 0 0 !important;
    }
    .itemAddress div form input {
        min-height: 100%;
    }
    .chooseAnAddressMobile {
        opacity: 0;
        color: #eeeeee;
        width: 550px;
        background-color: #111111 !important;
    }
    .addressList > div:nth-child(5), .addressList > div:last-child {
        font-weight: bold;
        margin: 45px 20px 45px 0;
        text-align: left;
        font-size: 5em;
    }
    .addressList > div:first-child, .addressList > div:nth-child(2), .addressList > div:nth-child(3) {
        font-weight: bold;
        margin: 0 0 40px 0;
        text-align: left;
        font-size: 5em;
    }
    a {
        color: #eeeeee;
    }
    .hd {
        text-align: center;
        font-size: 7.5em;
        margin: 50px 0 50px 0 !important;
    }
    .categories {
        margin: 0 0 70px 0 !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .categories > div:not(.item) {
        margin: 20px 15px 0 15px;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
        transition: .2s;
    }
    .categories > div:hover {
        box-shadow: none;
        transition: .2s;
    }
    .provider {
        padding: 15px 20px 15px 20px;
        border-radius: 70px;
        background-color: #111111;
        color: #eeeeee;
        transition: .2s;
    }
    .provider.active {
        background-color: #deb887;
        color: #111111;
        transition: .2s;
    }
    .line {
        background-color: #333333;
        width: 85%;
        height: 15px;
        border: none;
    }
    .lineMobile {
        display: block;
        background-color: #333333;
        width: 85%;
        height: 15px;
        border: none;
    }
    .lineMobileForm {
        display: block;
        background-color: #333333;
        width: 103%;
        height: 15px;
        border: none;
    }
    .item {
        border-radius: 70px !important;
        min-height: 900px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 100px 0 !important;
    }
    .item.show {
        align-items: flex-start;
        box-shadow: 0 0 0 15px #eeeeee;
    }
    .item.active {
        align-items: flex-start;
        box-shadow: 0 0 0 15px #eeeeee;
    }
    .itemName {
        white-space: normal;
        text-overflow: clip;
        font-size: 5em;
    }
    .itemDescription {
        border-left: 15px solid #deb887;
        padding: 0 0 0 25px;
        font-size: 3.6em;
        margin-top: 30px;
        margin-bottom: 30px;
        max-height: 50%;
        overflow: hidden;
    }
    .itemPrice {
        font-size: 5em;
    }
    .addToBasket {
        flex-direction: row-reverse !important;
        min-width: 100%;
        align-items: center;
    }
    .addToBasket form > input {
        width: 100px;
        height: 100px;
        font-size: 5em;
        box-shadow: 0 0 0 15px #eeeeee;
    }
    .addToBasket > div:nth-child(2) {
        font-size: 4.7em;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: 0 50px 50px 50px;
        box-shadow: 0 0 0 15px #eeeeee;
    }
    .itemInner {
        border-radius: 75px !important;
        flex-direction: column;
        justify-content: space-between;
    }
    .cntnr {
        max-width: 85%;
        margin: 50px 0 10px 50px !important;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        max-height: 68%;
    }
    .list {
        margin: 0 60px 80px 60px !important;
        flex-wrap: wrap;
    }
    .description {
        font-size: 4em;
        max-width: 400px;
        left: 23%;
    }
    .registrationButton {
        top: 680px;
        left: 20%;
    }
    .registrationButton.active {
        border-radius: 50px;
        font-size: 3em;
        padding: 5px 15px 5px 15px;
    }
    .information, .registration, .authorization {
        max-width: 550px;
    }
    .registration {
        top: 21%;
    }
    .information {
        font-size: 2em;
    }
    .frm {
        font-size: 2.5em;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 5px solid #deb887;
    background-color: #deb887;
}
