body {
    font-family: "ProductSans-Regular";
    background: #111111;
    color: #eeeeee;
}
a {
    color: #111111;
    text-decoration: none;
}
::selection {
    background-color: #deb887;
    color: #111111;
}
@font-face {
    font-family: "ProductSans-Regular";
    src: url("../fonts/google_sans/ProductSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
input {
    outline: none;
    font-family: "ProductSans-Regular";
}
.flex {
    display: flex;
}
.btw {
    justify-content: space-between;
}
.softBorder {
    border-radius: 30px;
}
.pointer {
    cursor: pointer;
}
.topMenu {
    justify-content: space-between;
    padding: 15px 30px 0 30px;
    height: 100px;
}
.defaultUserPhoto {
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    transition: .2s;
}
.defaultUserPhoto:hover {
    width: 150px;
    background-image: none;
    background-color: #deb887;
    transition: .2s;
}
.defaultUserPhoto > div {
    display: none;
}
.defaultUserPhoto:hover > div {
    display: block;
    color: #111111;
}

.defaultUserPhotoAuth {
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    transition: .2s;
}
.defaultUserPhotoAuth:hover {
    width: 300px;
    background-image: none;
    background-color: #deb887;
    transition: .2s;
}
.defaultUserPhotoAuth > div {
    display: none;
}
.defaultUserPhotoAuth:hover > div {
    display: block;
    color: #111111;
}

.main {
    max-width: 100%;
    padding: 60px 100px 0 20%;
}
.mainAuth {
    padding: 10px 30px 30px 30px;
    flex-direction: column;
}
.mainAuth > div {
    margin: 0 0 50px 0;
}
.hd {
    text-align: center;
    font-size: 4em;
}
.categories {
    margin: 0 0 70px 0 !important;
    flex-wrap: wrap;
    justify-content: center;
}
.categories > div:not(.item) {
    margin: 0 15px 0 15px;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
}
.categories > div:hover {
    text-decoration: 3px underline #eeeeee;
}
.coffee, .breakfast {
    display: none;
}
.coffee.active, .breakfast.active {
    display: flex;
}
.line {
    background-color: #333333;
    width: 85%;
    height: 5px;
    border: none;
}
.list {
    padding: 80px 0 0 0 !important;
    /*margin: 0 20px 0 20px !important;
    border-top: 5px solid #333333;*/
}
.coffee, .breakfast {
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    display: none;
}
.item.active {
    display: flex;
    margin: 0 0 60px 0;
    min-width: 85%;
    height: 350px;
    border-radius: 50px 0 0 50px;
    align-items: center;
    background: linear-gradient(to right, #eeeeee, transparent);
    transition: .2s;
    justify-content: space-between;
    color: #111111;
}
.cntnr {
    margin: 0 0 0 50px;
    max-width: 50%;
    min-height: 80%;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.itemName {
    font-size: 3em;
}
.itemDescription {
    font-size: 1.5em;
}
.item.active > div:not(:first-child) {
    margin: 0 10px 10px 20px;
}
.item.active > div:last-child {
    margin: 0 10px 20px 20px;
}
.itemPrice {
    font-size: 3em;
}
.itemPhoto {
    width: 50% !important;
    min-height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    transition: .2s !important;
    margin: 0 !important;
}
.description {
    font-size: 3em;
    max-width: 300px;
    padding: 0 40px 0 0;
    text-align: right;
    position: fixed;
    top: 200px;
    left: 20%;
    box-shadow: 10px 0 0 0 #deb887;
    transition: .2s;
}
.description.active {
    top: 250px;
    transition: .2s;
}
.registrationButton {
    max-height: 0;
    opacity: 0;
    transition: .2s;
    position: absolute;
    top: 580px;
    left: 20%;
}
.registrationButton.active {
    position: absolute;
    max-height: 100px;
    opacity: 1;
    margin: 5px 0 0 0;
    background-color: #deb887;
    color: #111111;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    transition: .2s;
    margin: 5px 0 0 35px;
}
.registrationButton.active:hover {
    margin: 2px 0 0 35px;
    transition: .2s;
}
.rightSide {
    width: 400px;
    position: absolute;
}
.information, .registration, .authorization {
    position: fixed;
    left: 100%;
    opacity: 0;
    max-width: 400px;
    max-height: 100%;
    transition: .5s;
}
.information {
    margin-top: 30px;
    font-size: 1.5em;
}
.authorization {
    margin-top: 5%;
}
.information.active, .registration.active, .authorization.active {
    left: 50%;
    opacity: 1;
    transition: .5s;
}
form {
    text-align: center;
    flex-direction: column;
    width: 350px;
}
form input {
    border: none;
    height: 55px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 0 0;
}
form input:not([type='submit']) {
    background-color: #333333;
    color: #eeeeee;
    font-size: 1.5em;
}
form input[type='submit'] {
    background-color: #deb887;
    font-size: 2em;
    font-weight: bold;
}
.bottom {
    position: fixed;
    bottom: 5%;
    left: 44%;
}
.closeIt {
    text-align: center;
    font-size: 2em;
    background: none;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: .2s;
}
.closeIt:hover {
    color: #111111;
    background-color: #ea4335;
    transition: .2s;
}




#map {
  height: 768px;
}


/* чтобы вернулась регистрация, уберите то, что снизу */
.authIn {
    display: none;
}