body {
    font-family: "ProductSans-Regular";
    background: #111111;
    color: #eeeeee;
    overflow: auto;
}
a {
    color: #111111;
    text-decoration: none;
}
::selection {
    background-color: #deb887;
    color: #111111;
}
@font-face {
    font-family: "ProductSans-Regular";
    src: url("../fonts/google_sans/ProductSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
input {
    outline: none;
    font-family: "ProductSans-Regular";
}
.flex {
    display: flex;
}
.btw {
    justify-content: space-between;
}
.vCenter {
    align-items: center;
}
.softBorder {
    border-radius: 30px;
}
.reallySoftBorder {
    border-radius: 0 42px 42px 0;
}
.pointer {
    cursor: pointer;
}
.topMenu {
    justify-content: space-between;
    padding: 15px 30px 0 30px;
    height: 100px;
}
.logo {
    font-size: 3.5em;
}
.arrowMobile {
    display: none;
}
.defaultUserPhoto {
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 60px;
    height: 60px;
    transition: .2s;
}
.defaultUserPhoto:hover {
    width: 150px;
    background-image: none;
    background-color: #deb887;
    transition: .2s;
}
.defaultUserPhoto > div {
    display: none;
}
.defaultUserPhoto:hover > div {
    display: block;
    color: #111111;
}

.defaultUserPhotoAuth {
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 60px;
    height: 60px;
    transition: .2s;
}
.defaultUserPhotoAuth:hover {
    width: 300px;
    background-image: none;
    background-color: #deb887;
    transition: .2s;
}
.defaultUserPhotoAuth > div {
    display: none;
}
.defaultUserPhotoAuth:hover > div {
    display: block;
    color: #111111;
}

.main {
    max-width: 100%;
    padding: 60px 100px 0 20%;
}
.mainAuth {
    padding: 10px 30px 30px 30px;
    flex-direction: column;
}
.mainAuth > div {
    margin: 0 0 50px 0;
}
.hd {
    text-align: center;
    font-size: 4em;
}
.categories {
    margin: 0 0 70px 0 !important;
    flex-wrap: wrap;
    justify-content: center;
}
.categories > div:not(.item) {
    margin: 0 15px 0 15px;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}
.categories > div:hover {
    box-shadow: inset 0 0 0 5px #eeeeee;
    transition: .2s;
}
.provider {
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    background-color: #111111;
    color: #eeeeee;
    transition: .2s;
}
.provider.active {
    background-color: #deb887;
    color: #111111;
    transition: .2s;
}
.coffee, .breakfast {
    display: none;
}
.coffee.active, .breakfast.active {
    display: flex;
}
.line {
    background-color: #333333;
    width: 85%;
    height: 5px;
    border: none;
}
.lineMobile {
    display: none;
}
.list {
    padding: 80px 0 0 0 !important;
    /*margin: 0 20px 0 20px !important;
    border-top: 5px solid #333333;*/
}
.coffee, .breakfast {
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    display: none;
}
.item.show {
    display: flex;
    margin: 0 0 60px 0;
    min-width: 85%;
    height: 350px;
    border-radius: 50px;
    align-items: center;
    border: 5px solid #eeeeee;
    transition: .2s;
    justify-content: space-between;
    color: #eeeeee;
}
.item.active {
    border: 5px solid #eeeeee;
    display: flex;
    margin: 0 0 60px 0;
    min-width: 85%;
    height: 350px;
    border-radius: 50px;
    align-items: center;
    transition: .2s;
    justify-content: space-between;
    color: #eeeeee;
}
.cntnr {
    margin: 0 0 0 50px;
    max-width: 70%;
    min-height: 80%;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.itemName b > span {
    font-size: 3em;
    background-color: #deb887;
    color: #111111;
}
.itemDescription {
    font-size: 1.5em;
}
.item.show > div:not(:first-child) {
    margin: 0 10px 10px 20px;
}
.item.active > div:not(:first-child) {
    margin: 0 10px 10px 20px;
}
.item.show > div:last-child {
    margin: 0 10px 20px 20px;
}
.item.active > div:last-child {
    margin: 0 10px 20px 20px;
}
.itemPrice {
    font-size: 3em;
}
.itemPhoto {
    width: 50% !important;
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right center !important;
    transition: .2s !important;
    margin: 0 !important;
    padding: 0 !important;
}
.description {
    font-size: 3em;
    max-width: 300px;
    padding: 0 40px 0 0;
    text-align: right;
    position: fixed;
    top: 200px;
    left: 20%;
    box-shadow: 10px 0 0 0 #deb887;
    transition: .2s;
}
.description.active {
    top: 250px;
    transition: .2s;
}
.registrationButton {
    opacity: 0;
    transition: .2s;
    position: absolute;
    top: 560px;
    left: 19%;
}
.registrationButton.active {
    position: absolute;
    height: 50px;
    min-width: 330px;
    opacity: 1;
    background-color: #deb887;
    color: #111111;
    transition: .2s;
    margin: 5px 0 0 35px;
}
.registrationButton.active:hover {
    margin: 2px 0 0 35px;
    transition: .2s;
}
.rightSide {
    width: 400px;
    position: absolute;
}
.information, .registration, .authorization {
    position: fixed;
    left: 100%;
    opacity: 0;
    max-width: 400px;
    max-height: 100%;
    transition: .5s;
}
.information {
    margin-top: 30px;
    font-size: 1.5em;
}
.authorization {
    margin-top: 5%;
}
.information.active, .registration.active, .authorization.active {
    left: 51%;
    opacity: 1;
    transition: .5s;
}
.frm {
    text-align: left;
    font-size: 2em;
    margin: 0 0 0 20px;
}
form {
    text-align: center;
    flex-direction: column;
    width: 350px;
}
input {
    border: none;
    height: 55px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 0 0;
}
input:not([type='submit']) {
    /*background-color: #333333;*/
    border: 5px solid #eeeeee;
    background-color: #111111;
    color: #eeeeee;
    font-size: 1.5em;
}
input[type='submit'] {
    background-color: #deb887;
    font-size: 2em;
    font-weight: bold;
}
.bottom {
    position: fixed;
    bottom: 5%;
    left: 44%;
}
.closeIt {
    text-align: center;
    font-size: 2em;
    background: none;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: .2s;
}
.closeIt:hover {
    color: #111111;
    background-color: #ea4335;
    transition: .2s;
}


.mainMobile {
    display: none;
}

#map {
  height: 768px;
}

@media screen and (max-width: 980px) {
    /*.leftSide {
        left: 0;
        margin: 0;
    }
    .description.active {
        top: 300px;
        position: absolute;
        box-shadow: none;
        font-size: 10em !important;
        left: 0;
        margin: 0;
        max-width: 100%;
        width: auto;
    }
    .registrationButton {
        top: 1800px;
        position: absolute;
        font-size: 5em !important;
        left: 0;
        margin: 0;
    }
    .registrationButton.active {
        top: 1800px;
        position: absolute;
        font-size: 5em !important;
        left: 0;
        margin: 0;

    }*/
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .main {
        display: none;
    }
    .mainMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .descriptionMobile {
        background-color: #111111;
        z-index: 2000;
        position: absolute;
        font-size: 9.5em;
        padding: 30px 20px 30px 60px;
    }
    .registrationButtonMobile {

    }
    .registrationButtonMobile.active {
        background-color: #111111;
        z-index: 2000;
        position: absolute;
        opacity: 1;
        top: 1460px;
        padding: 100px 30px 40px 30px;
        border-radius: 75px;
        font-size: 6em !important;
        transition: .3s;
        text-align: right;
    }
    .registrationButtonMobile.active > span {
        font-size: 1.1em !important;
        background-color: #deb887;
        color: #111111;
        text-align: right;
    }
    .informationMobile {
        background-color: #111111;
        z-index: 0;
        max-height: 0;
        position: absolute;
        left: 0;
        top: 300px;
        padding: 130px 50px 50px 50px;
        font-size: 5em;
        opacity: 0;
        transition: .5s;
    }
    .informationMobile.active {
        text-overflow: ellipsis;
        top: 1980px;
        z-index: 1000;
        max-height: auto;
        opacity: 1;
        transition: .5s;
    }

    .registrationMobile {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 2000px;
        z-index: 0;
        width: 100%;
        transition: .3s;
    }
    .registrationMobile.active {
        opacity: 1;
        z-index: 1000;
        height: auto;
        transition: .3s;
    }

    .registrationMobile div form, .authorizationMobile div form {
        width: 100% !important;
    }
    .registrationMobile div form > input, .authorizationMobile div form > input {
        height: 200px;
        margin: 30px !important;
    }
    .authorizationMobile {
        left: 0;
        position: absolute;
        top: 2000px;
        opacity: 0;
        z-index: 0;
        width: 100%;
        transition: .3s;
    }
    .authorizationMobile.active {
        opacity: 1;
        z-index: 1000;
        height: auto;
        transition: .3s;
    }
    .address, .order {
        border: 15px solid #eeeeee;
        border-radius: 70px;
        min-height: 320px;
        max-width: 80%;
        padding: 0 40px 0 40px;
        margin: 20px 0 20px 0;
    }
    .addressName, .orderName {
        font-size: 6em;
        background-color: #deb887;
        color: #111111;
    }
    .addAnAddress {
        color: #111111;
        min-width: 200px;
        height: 200px;
        background-color: #eeeeee;
        padding: 0px 15px 32px 15px;
        font-size: 10.2em !important;
        border-radius: 120px;
        text-align: center;
        margin: 10px 0 0 15px;
        cursor: pointer;
        transition: .2s;
    }
    .topMenu {
        justify-content: space-between;
        padding: 10px 30px 0 30px;
        height: 250px;
        max-height: 250px;
        justify-content: center;
        align-items: center;
    }
    .topMenu.active {
        max-height: auto;

    }
    .defaultUserPhotoAuth {
        display: none;
    }
    .defaultUserPhoto {
        display: none;
    }
    .logo {
        font-size: 10em;
    }
    .arrowMobile {
        color: #eeeeee;
        min-width: 100%;
        text-align: center;
        display: block;
        margin: 0 !important;
        padding: 10px 0 0 0;
        background: linear-gradient(to top, #111111, rgba(0, 0, 0, .0));
    }
    .arrow {
        font-size: 9em;
        transition: .2s;
    }
    .arrow.active {
        transform: rotate(180deg);
        transition: .2s;
    }
    .addressMenuMainPage {
        left: 0;
        bottom: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        bottom: -670px;
        display: flex;
        position: fixed;
        margin: 0 !important;
        padding: 0 !important;
        transition: .3s;
    }
    .addressMenuMainPage.active {
        bottom: 0;
        transition: .3s;
    }
    .addressMenuMainPage.active > .addressList {
        height: auto;
    }
    .addressList {
        height: auto;
        padding: 30px 0 30px 0;
        box-shadow: inset 0 15px 0 0 #333333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #111111;
    }
    .addressList > div:first-child {
        margin: 40px 20px 50px 20px;
        text-align: center;
        font-size: 6.5em;
    }
    .hd {
        text-align: center;
        font-size: 8em;
        margin: 50px 0 60px 0 !important;
    }
    .categories {
        margin: 0 0 70px 0 !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .categories > div:not(.item) {
        margin: 20px 15px 0 15px;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
        transition: .2s;
    }
    .categories > div:hover {
        box-shadow: none;
        transition: .2s;
    }
    .provider {
        padding: 15px 20px 15px 20px;
        border-radius: 70px;
        background-color: #111111;
        color: #eeeeee;
        transition: .2s;
    }
    .provider.active {
        background-color: #deb887;
        color: #111111;
        transition: .2s;
    }
    .line {
        background-color: #333333;
        width: 85%;
        height: 15px;
        border: none;
    }
    .lineMobile {
        display: block;
        background-color: #333333;
        width: 85%;
        height: 15px;
        border: none;
    }
    .item {
        border-radius: 70px !important;
        min-height: 700px;
        flex-direction: column;
        align-items: flex-start;
    }
    .item.show {
        align-items: flex-start;
        border: 15px solid #eeeeee;
    }
    .item.active {
        align-items: flex-start;
        border: 15px solid #eeeeee;
    }
    .itemName b > span {
        font-size: 6.5em;
        background-color: #deb887;
        color: #111111;
    }
    .itemDescription {
        font-size: 3.2em;
    }
    .itemPrice {
        font-size: 5em;
    }
    .itemPhoto {
        background-position: right center !important;
    }
    .cntnr {
        margin: 50px 0 50px 50px !important;
        max-width: 90%;
        min-height: 88%;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
    }
    .list {
        margin: 0 60px 80px 60px !important;
        flex-wrap: wrap;
    }
    .description {
        font-size: 4em;
        max-width: 400px;
        left: 23%;
    }
    .registrationButton {
        top: 680px;
        left: 20%;
    }
    .registrationButton.active {
        border-radius: 50px;
        font-size: 3em;
        padding: 5px 15px 5px 15px;
    }
    .information, .registration, .authorization {
        max-width: 550px;
    }
    .registration {
        top: 21%;
    }
    .information {
        font-size: 2em;
    }
    .frm {
        font-size: 2.5em;
    }
    .closeIt {
        font-size: 2.5em;
        height: 55px;
        width: 55px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1500px) {
    .item.show {
        max-width: 42%;
        min-width: 42%;
        height: 450px;
    }
    .item.active {
        max-width: 42%;
        min-width: 42%;
        height: 450px;
    }
    .itemName b > span {
        font-size: 3.5em;
        background-color: #deb887;
        color: #111111;
    }
    .itemDescription {
        font-size: 2em;
    }
    .itemPrice {
        font-size: 3.5em;
    }
    .itemPhoto {
        background-position: right center !important;
    }
    .list {
        margin: 0 60px 0 60px !important;
        flex-wrap: wrap;
    }
    .description {
        font-size: 4em;
        max-width: 400px;
        left: 23%;
    }
    .registrationButton {
        top: 680px;
        left: 20%;
    }
    .registrationButton.active {
        border-radius: 50px;
        height: 70px;
        font-size: 3em;
        padding: 5px 15px 5px 15px;
    }
    .information, .registration, .authorization {
        max-width: 550px;
    }
    .registration {
        top: 21%;
    }
    .information {
        font-size: 2em;
    }
    .frm {
        font-size: 2.5em;
    }
    .closeIt {
        font-size: 2.5em;
        height: 55px;
        width: 55px;
        border-radius: 30px;
    }
    form {
        width: 400px;
    }
    form input {
        height: 65px;
        border-radius: 35px;
    }
    form input[type='submit'] {
        font-size: 2.5em;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 5px solid #deb887;
    background-color: #deb887;
}
